<style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input{width:100%;}
        .edit-form tr th:first-child,.edit-form tr td:first-child{
            width:20%;
        }
        .edit-form tr th:last-child,.edit-form tr td:last-child{
            display: none;
        }
    }
</style>
<div class="panel panel-default panel-intro">

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="widget-body no-padding">
                <form id="" class="edit-form form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>扩展属性</td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-8 col-xs-12" style="width: 600px;">
                                        <dl class="fieldanylist" rel="0" data-name="row[config]">
                                            <dd>
                                                <ins>组件名</ins>
                                                <ins>评价属性</ins>
                                                <ins>属性名</ins>
                                                <ins>最大评分</ins>
                                            </dd>
                                            {eq name="row['count_arr']" value="0"}
                                                <dd class="form-inline" data-index="0">
                                                <input type="text" name="row[config][source][0]" class="form-control" value="" size="12" />
                                                <input type="text" name="row[config][attr][0]" class="form-control" value="" size="12" />
                                                <input type="text" name="row[config][title][0]" class="form-control" value="" size="12" />
                                                <input type="text" name="row[config][max_num][0]" class="form-control" value="" size="12" />
                                                <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                                                <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                                                </dd>
                                            {else /} 
                                                {foreach $row.ext_arr as $index => $vo}
                                                <dd class="form-inline" data-index="{$index?:0}">
                                                    <input type="text" name="row[config][source][{$index?:0}]" class="form-control" value="{$vo.source?:''}" size="12" />
                                                    <input type="text" name="row[config][attr][{$index?:0}]" class="form-control" value="{$vo.attr?:''}" size="12" />
                                                    <input type="text" name="row[config][title][{$index?:0}]" class="form-control" value="{$vo.title?:''}" size="12" />
                                                    <input type="text" name="row[config][max_num][{$index?:0}]" class="form-control" value="{$vo.max_num?:''}" size="12" />
                                                    <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                                                    <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                                                </dd>
                                                {/foreach}
                                            {/eq}
                                            <dd><a href="javascript:;" class="append btn btn-sm btn-success"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                                        </dl>

                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>

                            </td>
                            <td></td>
                        </tr>



                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                            </td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>

    </div>
</div>
</div>

