<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>相册管理工具</title>
<meta name="keywords" content="什么关键字,要啥关键字,信不信我削你啊！">
<meta name="description" content="介绍内容我想写啥难道我还需要看百度脸色么？">
<?=$header?>
<link href="/resource/front/css/tool/photo.css" rel="stylesheet" media="all" /> <!--  首页 -->
<div class="main_wrap clearfix">
    <div class="left_types">
        <div class="top_title">
            图片目录
            <a href="javascript: void(0);" target="_self" onclick="addPhotoType(0);"></a>
        </div>
        <div class="photo_types">
           <ul>
               <li>
                   <span class="btn switch root_open" onclick="open_root($(this), 0)"></span>
                   <a href="javascript: void(0);" target="_self"><span class="btn icon_open"></span>我的图片</a>
                   <ul>
                       <?php
                     if($allPhotoTypes){
                         foreach($allPhotoTypes as $n => $v) {
                               if($v['pt_son_ids']) $icon_  = "<i></i>";
                               echo "<li onclick='". $v['pt_id'] ."'><em></em>". $v['pt_title'] ."</li>";
                        }
                       } else {
                            echo "<li>没有分类</li>";
                       }?>
                   </ul>
               </li>
           </ul>
        </div>
    </div>
    <div id="right_wrap">
        <div class="right_content">
            aaa
        </div>
    </div>
</div>
<script src="/resource/front/js/tool/photo.js"></script>
<?php echo $footer; ?>