<!DOCTYPE html>
<html>
<head>
    {include file="common/meta" /}
    <link href="__CDN__/assets/css/songs/comment.css" rel="stylesheet">
    <script src="/assets/js/juzi/uri.js"></script>
</head>
<base target="_blank" />
<body>
{include file="common/header" /}
{include file="common/banner" currentBanner='gequshangxi' /}
{include file="songs/songs_top_singer"  /}
<div class="uri_body container">
    <div class="panel panel-default">
        <div class="panel-heading">
            评论歌曲《<a href="/juzi/songs/uri/<?=$songInfo['uri'];?>"><?=$songInfo['title'];?></a> 》-[<?=$songInfo['singer']?>]
        </div>
        <div class="inner">
            <span class="share_label">分享:</span>
            <div class="bdsharebuttonbox share_icons">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                <div class="info">
                    作者：<a href="/juzi/songsuser/myAlbum/?u=<?=$userInfo['uri'];?>"><?=$userInfo['title']?></a> <img style="height: 45px;border: 1px solid #ddd;" src="<?=$userInfo['avatar']?>"> ,
                    时间：<?=$sInfo['writetime']?> ,
                    <a href="/juzi/songsuser/myAlbum/?u=<?=$userInfo['uri'];?>" target="_self" class="btn btn-xs btn-info">我的歌单</a>
                </div>
                <?=$sInfo['content'];
                    if($sInfo['bereplied'] && $item2 = json_decode($sInfo['bereplied'], true)) {
                        foreach($item2 as $item2_) {
                    ?>
                <div class="well well-sm">
                    <a href="/juzi/songsuser/myAlbum/?u=<?=$item2_['useruri'];?>"><?=$item2_['nickname'];?></a> :
                    <?=$item2_['content'];?>
                </div>
                <?php
                        }
                    }
                ?>
            </div>
        </div>
    </div>

</div>
<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    }, "share": {}
};
with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
{include file="common/footer" /}
</body>
</html>