<!DOCTYPE html>
<html>
<head>
    {include file="common/meta" /}
    <link href="/assets/css/songs/uri.css" rel="stylesheet">
    <script src="/assets/js/juzi/uri.js"></script>
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
{include file="common/banner" currentBanner='gequshangxi' /}
{include file="songs/songs_top_singer"  /}
{include file="songs/songs_public_top" keyword='' t_='2' keyword="$sInfo.singerName" /}
<div class="uri_body container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <?=$sInfo['title'];?>-<?=$sInfo['singerLinks'];?>歌曲赏析
        </div>
        <div class="inner">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- juzi.song -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7680676594412356"
                 data-ad-slot="8861259152"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <span style="vertical-align: text-bottom">
                 歌手: <?=$sInfo['singerLinks'];?>的音乐
                , 人气: <?=$sInfo['rq'];?>
                ,
            </span>
            <span class="share_label">分享:</span>
            <div class="bdsharebuttonbox share_icons">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
            </div>
        </div>
        <div class="panel-body">
            <?php
            if($page==1) {
                 if($myUid) {
                  ?>
                  <h3> play url </h3>
                  <div class="well">
                        <audio src="<?= $sInfo['playurl']?>" controls="controls" loop="true" style="width: 100%; height: 20px;"> Your browser does not support the audio element.  </audio>
                        <br/>
                        <a href="<?=$sInfo['playurl']?>" target="_blank">右键另存为</a>
                    </div>
                <?php
               }
               ?>
            <table border="0">
                <tr>
                    <td valign="top">
                        <form name="search" method="post" target="_blank" class="input-group" style="width: 360px;" action="http://www.wsyyxz.com/e/search/result/">
                            <input name="tempid" value="1" type="hidden">
                            <input name="classid" value="1,2,3,4,5,6,7,8,9,10,11,12" type="hidden">
                            <input name="show" value="title,newstext,ftitle" type="hidden">
                            <input name="keyboard" size="11" value="<?=$sInfo['title']?>" type="text" class="form-control input-sm">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn-sm" type="submit">的百度网盘搜索</button>
                        </span>
                        </form>
                        <a href="http://www.kengso.com/s?st=0&wd=<?=$sInfo['title'];?>" target="_blank"><?=$sInfo['title'];?>百度网盘链接</a> <br/>
                        <a href="https://www.sq688.com/search.php?key=<?=$sInfo['title'];?>" target="_blank"><?=$sInfo['title'];?>的超高无损音乐</a>  <br/>
                        <a href="https://y.qq.com/portal/search.html#page=1&searchid=1&remoteplace=txt.yqq.top&t=song&w=<?=$sInfo['title'];?>" target="_blank"><?=$sInfo['title'];?>的QQ音乐搜索</a>  <br/>
                        <a href="https://vdisk.weibo.com/search/?type=public&keyword=<?=$sInfo['title'];?>" target="_blank"><?=$sInfo['title'];?>的新浪盘搜索</a> <br/>
                        <a href="https://www.soupan8.com/search/kw<?=$sInfo['title'];?>" target="_blank"><?=$sInfo['title'];?>的搜盘吧(推荐)</a>
                    </td>
                    <td valign="top">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- juzi.song.map -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-7680676594412356"
                             data-ad-slot="7548177482"
                             data-ad-format="auto"
                             data-full-width-responsive="true"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </td>
                </tr>
            </table>

                <h3> 歌词 </h3>
                <div class="well">
                    <?=$sInfo['geci'];?>
                </div>
                <?php
                if($albumUri && $albumSongs) {
                ?>
                <h4> 专辑歌曲 </h4>
                <div class="well">
                    <?php
                    foreach($albumSongs as $n=>$v) {
                    ?>
                    <span class="label label-info">
                        <?=($n+1)?>.<a href="/juzi/songs/uri/<?=$v['uri']?>?album=<?=$albumUri?>" target="_parent">  <?=$v['title']?> </a>
                    </span>
                    <?php
                    }
                    ?>
                </div>
                <?php
                }
                ?>
            <?php
            }
            ?><h3> 歌曲赏析 </h3>
            <?=$pageHtml?>
            <div class="songsShangxiList">
                <ul class="list-group"><?php
            foreach($commentList as $item) {?><li class="list-group-item">
                <a href="/juzi/songsuser/myAlbum/?u=<?=$item['useruri'];?>" target="_blank" class="avatar"><img src="<?=$item['avatar']?>"></a>

                <span style="font-size: 12px;margin-left: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span> (<?=$item['likedCount'];?>) </span>
                <span style="font-size: 12px;margin-left: 10px;"><?=$item['time'];?></span>
                <div class="alert alert-warning"><?=$item['content'];?><?php
                    if($item['beReplied']) {
                        $item2 = $item['beReplied'][0];
                    ?><div class="well well-sm">
                        <a href="/juzi/songsuser/myAlbum/?u=<?=$item2['useruri'];?>" target="_blank"><?=$item2['nickname'];?></a> :
                        <?=$item2['content'];?>
                    </div><?php
                    }
                ?></div>
            </li>
            <?php
            }
            ?>
            </ul>
            </div>
            <?=$pageHtml?>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="rol-md-6">
                    <div class="inner">
                        <span class="share_label">分享:</span>
                        <div class="bdsharebuttonbox share_icons">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                            <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                            <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                            <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                            <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    }, "share": {}
};
with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
{include file="common/footer" /}
</body>
</html>