<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
{include  file="common/banner" currentBanner='author' /}
{include file="songs/songs_top_singer"  /}
{include file="songs/songs_public_top" t_="$t_" keyword="$keyword" /}
<link href="__CDN__/assets/css/juzi/search.css" rel="stylesheet">
<script src="/assets/js/juzi/search.js"></script>
<div class="front_body container">
    <div class="panel panel-info">
        <div class="panel-heading" style="position: relative;">
            搜索:<?=$keyword?>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <?php
                foreach($list as $v) {
                ?>
                <li class="list-group-item">
                    <?=$v['text_li']?>
                </li>
                <?php
                }
                ?>
            </ul>
            <?php
            if($nullStr) {
            ?>
            <div class="alert alert-warning">
                <?=$nullStr?>
            </div>
            <?php
            }
            ?>
            <?=$pageMenu?>
        </div>
    </div>
</div>
{include file="common/footer" /}
</body>
</html>