<!DOCTYPE html>
<html>
<head>
    {include file="common/meta" /}
</head>
<body>
{include file="common/header" /}
{include file="common/banner" currentBanner='gequshangxi' /}
<style>
    .singer_list {
        max-width: 800px;
    }
    .searchLog  li {
        display: inline-block;
        margin: 2px 5px;
        list-style-type: none;
    }
    .singer_list {
        max-width: 800px;
        margin-top: 10px;
        position: relative;
        z-index: 1;
    }
    .singer_list ul {
        margin-bottom: 0;
    }
    .singer_list  li {
        padding: 2px;
        font-size: 11px;
    }
</style>
<div style="padding-bottom: 100px;">
    {include file="songs/songs_top_singer" currentType='$type' /}
    <div class="container singer_list">
        <h2><?=$topTitle?></h2>
        <div style="margin-bottom: 10px;" id="top_zm">
            <a href="/juzi/songs/singerList/type/{$type}?zm=-1" class="btn btn-xs btn-default zm_-1">热门</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=A" class="btn btn-xs btn-default zm_A">A</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=B" class="btn btn-xs btn-default zm_B">B</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=C" class="btn btn-xs btn-default zm_C">C</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=D" class="btn btn-xs btn-default zm_D">D</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=E" class="btn btn-xs btn-default zm_E">E</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=F" class="btn btn-xs btn-default zm_F">F</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=G" class="btn btn-xs btn-default zm_G">G</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=H" class="btn btn-xs btn-default zm_H">H</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=I" class="btn btn-xs btn-default zm_I">I</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=J" class="btn btn-xs btn-default zm_J">J</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=K" class="btn btn-xs btn-default zm_K">K</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=L" class="btn btn-xs btn-default zm_L">L</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=M" class="btn btn-xs btn-default zm_M">M</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=N" class="btn btn-xs btn-default zm_N">N</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=O" class="btn btn-xs btn-default zm_O">O</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=P" class="btn btn-xs btn-default zm_P">P</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=Q" class="btn btn-xs btn-default zm_Q">Q</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=R" class="btn btn-xs btn-default zm_R">R</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=S" class="btn btn-xs btn-default zm_S">S</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=T" class="btn btn-xs btn-default zm_T">T</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=U" class="btn btn-xs btn-default zm_U">U</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=V" class="btn btn-xs btn-default zm_V">V</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=W" class="btn btn-xs btn-default zm_W">W</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=X" class="btn btn-xs btn-default zm_X">X</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=Y" class="btn btn-xs btn-default zm_Y">Y</a>
            <a href="/juzi/songs/singerList/type/{$type}?zm=Z" class="btn btn-xs btn-default zm_Z">Z</a>
        </div>
        <div class="well">
            <?php
            foreach($singerData as $item) {
            ?>
                <a class="btn btn-md" href="/juzi/singer/uri/<?=$item['uri']?>" target="_blank" title="<?=$item['title']?>的音乐"><?=$item['title']?></a>
                <?php
            }
            ?>
        </div>
    </div>
</div>
<script>
    var currentZm = '<?=$zm?>';
    $('#top_zm').find('.zm_'+ currentZm).removeClass('btn-default').addClass('btn-success');
</script>
{include file="common/footer" /}
</body>
</html>