<div class="container" style="max-width: 860px;">
    <div class="well" id="top_phb">
        <a href="/juzi/songs/singerList/type/huayunangeshou" class="btn btn-xs <?php
                        if('[currentType]'=='huayunangeshou') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">华语男歌手</a>
        <a href="/juzi/songs/singerList/type/huayunvgeshou" class="btn btn-xs <?php
                        if('[currentType]'=='huayunvgeshou') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">华语女歌手</a>
        <a href="/juzi/songs/singerList/type/huayuteam" class="btn btn-xs <?php
                        if('[currentType]'=='huayuteam') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">华语乐队/组合</a>
        <a href="/juzi/songs/singerList/type/oumeinan" class="btn btn-xs <?php
                        if('[currentType]'=='oumeinan') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">欧美男歌手</a>
        <a href="/juzi/songs/singerList/type/oumeinv" class="btn btn-xs <?php
                        if('[currentType]'=='oumeinv') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">欧美女歌手</a>
        <a href="/juzi/songs/singerList/type/oumeiteam" class="btn btn-xs <?php
                        if('[currentType]'=='oumeiteam') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">欧美乐队/组合</a>
        <a href="/juzi/songs/singerList/type/japannan" class="btn btn-xs <?php
                        if('[currentType]'=='japannan') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">日本男歌手</a>
        <a href="/juzi/songs/singerList/type/japannv" class="btn btn-xs <?php
                        if('[currentType]'=='japannv') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">日本女歌手</a>
        <a href="/juzi/songs/singerList/type/japanteam" class="btn btn-xs <?php
                        if('[currentType]'=='japanteam') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">日本乐队/组合</a>
        <a href="/juzi/songs/singerList/type/hanguonan" class="btn btn-xs <?php
                        if('[currentType]'=='hanguonan') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">韩国男歌手</a>
        <a href="/juzi/songs/singerList/type/hanguonv" class="btn btn-xs <?php
                        if('[currentType]'=='hanguonv') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">韩国女歌手</a>
        <a href="/juzi/songs/singerList/type/hanguoteam" class="btn btn-xs <?php
                        if('[currentType]'=='hanguoteam') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">韩国乐队/组合</a>
        <a href="/juzi/songs/singerList/type/qitanan" class="btn btn-xs <?php
                        if('[currentType]'=='qitanan') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">其他男歌手</a>
        <a href="/juzi/songs/singerList/type/qitanv" class="btn btn-xs <?php
                        if('[currentType]'=='qitanv') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">其他女歌手</a>
        <a href="/juzi/songs/singerList/type/qitateam" class="btn btn-xs <?php
                        if('[currentType]'=='qitateam') {
                            echo 'btn-info';
                        } else {
                            echo 'btn-default';
                        }
                    ?>">其他乐队/组合</a>

        <a href="/juzi/songs/hotSongs/" class="btn btn-xs btn-default" data="hotSongs">热门歌曲榜</a>
        <a href="/juzi/songs/newSongs/" class="btn btn-xs btn-default" data="newSongs">最新歌曲榜</a>
        <a href="/juzi/songs/speedHot/" class="btn btn-xs btn-default" data="speedHot">飚升榜</a>
        <a href="/juzi/songs/original/" class="btn btn-xs btn-default" data="original">原创歌曲榜</a>
        <a href="/juzi/songs/gudian/" class="btn btn-xs btn-default" data="gudian">古典音乐榜</a>
        <a href="/juzi/songs/douyin/" class="btn btn-xs btn-default" data="douyin">抖音排行榜</a>
        <a href="/juzi/songs/iTunes/" class="btn btn-xs btn-default" data="iTunes">iTunes榜</a>
        <a href="/juzi/songs/dianyin/" class="btn btn-xs btn-default" data="dianyin">云音乐电音榜</a>
        <a href="/juzi/songs/xinsheng/" class="btn btn-xs btn-default" data="xinsheng">新声榜</a>
        <a href="/juzi/songs/acg/" class="btn btn-xs btn-default" data="acg">ACG音乐榜</a>
        <a href="/juzi/songs/hanyu/" class="btn btn-xs btn-default" data="hanyu">韩语榜</a>
        <a href="/juzi/songs/uk/" class="btn btn-xs btn-default" data="uk">UK排行榜周榜</a>
        <a href="/juzi/songs/dianjing/" class="btn btn-xs btn-default" data="dianjing">电竞音乐榜</a>
        <a href="/juzi/songs/billboard/" class="btn btn-xs btn-default" data="billboard">美国Billboard周榜</a>
        <a href="/juzi/songs/ribenoricon/" class="btn btn-xs btn-default" data="ribenoricon">日本Oricon周榜</a>
        <a href="/juzi/songs/oumeiHot/" class="btn btn-xs btn-default" data="oumeiHot">欧美热歌榜</a>
        <a href="/juzi/songs/oumeiNew/" class="btn btn-xs btn-default" data="oumeiNew">欧美新歌榜</a>
        <a href="/juzi/songs/faguoNRJ/" class="btn btn-xs btn-default" data="faguoNRJ">法国 NRJ Vos Hits 周榜</a>
        <a href="/juzi/songs/jiangxiaobai/" class="btn btn-xs btn-default" data="jiangxiaobai">江小白YOLO云音乐说唱榜</a>
        <a href="/juzi/songsuser/index/" class="btn btn-xs btn-info" data="userlist">最新用户</a>
        <a href="/juzi/songsuser/newGedan/" class="btn btn-xs btn-info" data="gedanlist">最新歌单</a>
    </div>

</div>
