<script src="/assets/js/songs/search.js"></script>
<style>
    #searchForm {
        margin: 10px auto 20px auto;
        text-align: center;
        position: relative;
        max-width: 800px;
    }
    #searchForm .inner .count_detail {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: 10px;
        color: #999;
    }
    #searchForm .inner .ajax_menu {
        text-align: left;
    }
</style>

<form id="searchForm" target="_parent" action="/juzi/songs/search/">
    <div class="input-group">
        <input type="hidden" class="hide_flag" name="t" value="[t_]" />
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="search_type" data-value="1">
                <span id="current_text">
                    <?php
                        if('[t_]'=='1') {
                            echo '本站歌曲';
                        } elseif('[t_]'=='2') {
                            echo '全网歌曲';
                        } else {
                            echo '搜索范围';
                        }
                    ?>
                </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="javascript: void(0);" target="_self" data-value="1"> 本站歌曲</a></li>
                <li><a href="javascript: void(0);" target="_self" data-value="2"> 全网歌曲</a></li>
                <!--<li><a href="javascript: void(0);" target="_self" data-value="3"><i class="glyphicon glyphicon-user text-info small"></i>本站歌手</a></li>-->
                <!--<li><a href="javascript: void(0);" target="_self" data-value="4"><i class="glyphicon glyphicon-user text-info small"></i>全网歌手</a></li>-->
            </ul>
        </div>
        <span id="append_input" data-url="/adppp/songs/api/index/ajax_search?t=[t_]" data-value="[keyword]" data-holder="输入歌曲名字" data-liauther="{singer}" data-liname="{title}">
            <input class="form-control" />
        </span>
        <div class="input-group-btn">
            <button class="btn btn-success">搜索</button>
        </div>
    </div>
</form>