<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
<link href="__CDN__/assets/css/juzi/gushi.css" rel="stylesheet">
{include  file="common/banner" currentBanner='gushi' /}
<div class="front_body container">
    <div class="well alert-info">
        <div class="input-group filter_box" id="filter_author_box">
            <span class="addon">
                <span class="caret"></span>
                作者：
            </span>
            <div class="sright" id="filter_author_menu">
                <a href="/juzi/gushi/index?author=李白" data='李白'>李白</a>
                <a href="/juzi/gushi/index?author=杜甫" data='杜甫'>杜甫</a>
                <a href="/juzi/gushi/index?author=苏轼" data='苏轼'>苏轼</a>
                <a href="/juzi/gushi/index?author=王维" data='王维'>王维</a>
                <a href="/juzi/gushi/index?author=杜牧" data='杜牧'>杜牧</a>
                <a href="/juzi/gushi/index?author=陆游" data='陆游'>陆游</a>
                <a href="/juzi/gushi/index?author=李煜" data='李煜'>李煜</a>
                <a href="/juzi/gushi/index?author=元稹" data='元稹'>元稹</a>
                <a href="/juzi/gushi/index?author=韩愈" data='韩愈'>韩愈</a>
                <a href="/juzi/gushi/index?author=岑参" data='岑参'>岑参</a>
                <a href="/juzi/gushi/index?author=齐己" data='齐己'>齐己</a>
                <a href="/juzi/gushi/index?author=贾岛" data='贾岛'>贾岛</a>
                <a href="/juzi/gushi/index?author=柳永" data='柳永'>柳永</a>
                <a href="/juzi/gushi/index?author=曹操" data='曹操'>曹操</a>
                <a href="/juzi/gushi/index?author=李贺" data='李贺'>李贺</a>
                <a href="/juzi/gushi/index?author=曹植" data='曹植'>曹植</a>
                <a href="/juzi/gushi/index?author=张籍" data='张籍'>张籍</a>
                <a href="/juzi/gushi/index?author=孟郊" data='孟郊'>孟郊</a>
                <a href="/juzi/gushi/index?author=皎然" data='皎然'>皎然</a>
                <a href="/juzi/gushi/index?author=许浑" data='许浑'>许浑</a>
                <a href="/juzi/gushi/index?author=罗隐" data='罗隐'>罗隐</a>
                <a href="/juzi/gushi/index?author=贯休" data='贯休'>贯休</a>
                <a href="/juzi/gushi/index?author=韦庄" data='韦庄'>韦庄</a>
                <a href="/juzi/gushi/index?author=屈原" data='屈原'>屈原</a>
                <a href="/juzi/gushi/index?author=王勃" data='王勃'>王勃</a>
                <a href="/juzi/gushi/index?author=张祜" data='张祜'>张祜</a>
                <a href="/juzi/gushi/index?author=王建" data='王建'>王建</a>
                <a href="/juzi/gushi/index?author=晏殊" data='晏殊'>晏殊</a>
                <a href="/juzi/gushi/index?author=岳飞" data='岳飞'>岳飞</a>
                <a href="/juzi/gushi/index?author=姚合" data='姚合'>姚合</a>
                <a href="/juzi/gushi/index?author=卢纶" data='卢纶'>卢纶</a>
                <a href="/juzi/gushi/index?author=秦观" data='秦观'>秦观</a>
                <a href="/juzi/gushi/index?author=钱起" data='钱起'>钱起</a>
                <a href="/juzi/gushi/index?author=朱熹" data='朱熹'>朱熹</a>
                <a href="/juzi/gushi/index?author=韩偓" data='韩偓'>韩偓</a>
                <a href="/juzi/gushi/index?author=高适" data='高适'>高适</a>
                <a href="/juzi/gushi/index?author=方干" data='方干'>方干</a>
                <a href="/juzi/gushi/index?author=李峤" data='李峤'>李峤</a>
                <a href="/juzi/gushi/index?author=赵嘏" data='赵嘏'>赵嘏</a>
                <a href="/juzi/gushi/index?author=贺铸" data='贺铸'>贺铸</a>
                <a href="/juzi/gushi/index?author=郑谷" data='郑谷'>郑谷</a>
                <a href="/juzi/gushi/index?author=郑燮" data='郑燮'>郑燮</a>
                <a href="/juzi/gushi/index?author=张说" data='张说'>张说</a>
                <a href="/juzi/gushi/index?author=张炎" data='张炎'>张炎</a>
                <a href="/juzi/gushi/index?author=白居易" data='白居易'>白居易</a>
                <a href="/juzi/gushi/index?author=辛弃疾" data='辛弃疾'>辛弃疾</a>
                <a href="/juzi/gushi/index?author=李清照" data='李清照'>李清照</a>
                <a href="/juzi/gushi/index?author=刘禹锡" data='刘禹锡'>刘禹锡</a>
                <a href="/juzi/gushi/index?author=李商隐" data='李商隐'>李商隐</a>
                <a href="/juzi/gushi/index?author=陶渊明" data='陶渊明'>陶渊明</a>
                <a href="/juzi/gushi/index?author=孟浩然" data='孟浩然'>孟浩然</a>
                <a href="/juzi/gushi/index?author=柳宗元" data='柳宗元'>柳宗元</a>
                <a href="/juzi/gushi/index?author=王安石" data='王安石'>王安石</a>
                <a href="/juzi/gushi/index?author=欧阳修" data='欧阳修'>欧阳修</a>
                <a href="/juzi/gushi/index?author=韦应物" data='韦应物'>韦应物</a>
                <a href="/juzi/gushi/index?author=温庭筠" data='温庭筠'>温庭筠</a>
                <a href="/juzi/gushi/index?author=刘长卿" data='刘长卿'>刘长卿</a>
                <a href="/juzi/gushi/index?author=王昌龄" data='王昌龄'>王昌龄</a>
                <a href="/juzi/gushi/index?author=杨万里" data='杨万里'>杨万里</a>
                <a href="/juzi/gushi/index?author=诸葛亮" data='诸葛亮'>诸葛亮</a>
                <a href="/juzi/gushi/index?author=范仲淹" data='范仲淹'>范仲淹</a>
                <a href="/juzi/gushi/index?author=陆龟蒙" data='陆龟蒙'>陆龟蒙</a>
                <a href="/juzi/gushi/index?author=晏几道" data='晏几道'>晏几道</a>
                <a href="/juzi/gushi/index?author=周邦彦" data='周邦彦'>周邦彦</a>
                <a href="/juzi/gushi/index?author=杜荀鹤" data='杜荀鹤'>杜荀鹤</a>
                <a href="/juzi/gushi/index?author=吴文英" data='吴文英'>吴文英</a>
                <a href="/juzi/gushi/index?author=马致远" data='马致远'>马致远</a>
                <a href="/juzi/gushi/index?author=皮日休" data='皮日休'>皮日休</a>
                <a href="/juzi/gushi/index?author=左丘明" data='左丘明'>左丘明</a>
                <a href="/juzi/gushi/index?author=张九龄" data='张九龄'>张九龄</a>
                <a href="/juzi/gushi/index?author=权德舆" data='权德舆'>权德舆</a>
                <a href="/juzi/gushi/index?author=黄庭坚" data='黄庭坚'>黄庭坚</a>
                <a href="/juzi/gushi/index?author=司马迁" data='司马迁'>司马迁</a>
                <a href="/juzi/gushi/index?author=皇甫冉" data='皇甫冉'>皇甫冉</a>
                <a href="/juzi/gushi/index?author=卓文君" data='卓文君'>卓文君</a>
                <a href="/juzi/gushi/index?author=文天祥" data='文天祥'>文天祥</a>
                <a href="/juzi/gushi/index?author=刘辰翁" data='刘辰翁'>刘辰翁</a>
                <a href="/juzi/gushi/index?author=陈子昂" data='陈子昂'>陈子昂</a>
                <a href="/juzi/gushi/index?author=纳兰性德" data='纳兰性德'>纳兰性德</a>
            </div>
        </div>
        <div class="input-group filter_box" id="filter_year_box">
            <span class="addon">
                <span class="caret"></span>
                朝代：</span>
            <div class="sright" id="filter_year_menu">
                <a href="/juzi/gushi/index?yearid=28" data="28">先秦</a>
                <a href="/juzi/gushi/index?yearid=30" data="30">两汉</a>
                <a href="/juzi/gushi/index?yearid=31" data="31">魏晋</a>
                <a href="/juzi/gushi/index?yearid=14" data="14">南北朝</a>
                <a href="/juzi/gushi/index?yearid=32" data="32">隋代</a>
                <a href="/juzi/gushi/index?yearid=29" data="29">唐代</a>
                <a href="/juzi/gushi/index?yearid=17" data="17">五代</a>
                <a href="/juzi/gushi/index?yearid=33" data="33">宋代</a>
                <a href="/juzi/gushi/index?yearid=22" data="22">金朝</a>
                <a href="/juzi/gushi/index?yearid=34" data="34">元代</a>
                <a href="/juzi/gushi/index?yearid=35" data="35">明代</a>
                <a href="/juzi/gushi/index?yearid=36" data="36">清代</a>
                <a href="/juzi/gushi/index?yearid=26" data="26">近代</a>
            </div>
        </div>
        <div class="input-group filter_box">
           <form action="/juzi/gushi/index/" method="get" class="input-group" >
               <input value="<?=$keyword?>" name="keyword" placeholder="标题" class="form-control" />
               <div class="input-group-btn" style="width: 120px;">
                   <input value="<?=$author?>" name="author" placeholder="作者" class="form-control" />
               </div>
               <span class="input-group-btn">
                    <button class="btn btn-success">搜索</button>
               </span>
           </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading" style="position: relative;">
            <?=$filterTitle ? $filterTitle . '的文章' : '古诗全集';?>：
        </div>
        <div class="panel-body">
            <div style="text-align: right;">
                <span style="display: inline-block; vertical-align: bottom;">分享:</span>
                <div class="bdsharebuttonbox" style="display: inline-block; vertical-align: bottom;">
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                    <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                    <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                    <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                    <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
                </div>
            </div>
            <ul class="list-group">
                <?php
                foreach($list as $v) {
                ?>
                <li class="list-group-item">
                    <a href="/juzi/from/id/<?=$v['id']?>" target="_blank"><?=$v['title']?></a>
                    ——<a href="<?=$v['authorLink']?>" target="_blank"><?=$v['authorName']?></a>
                </li>
                <?php
                }
                ?>
            </ul>
            <?php
            if($nullStr) {
            ?>
            <div class="alert alert-warning">
                <?=$nullStr?>
            </div>
            <?php
            }
            ?>
            <?=$pageMenu?>
        </div>
    </div>
</div>

<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    }, "share": {}
};
with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<script>
    $(function () {
        var yearid = parseInt('<?=$yearid?>');
        var author = '<?=$author?>';
        var authorBox = $('#filter_author_box');
        var yearBox = $('#filter_year_box');
        var authorMenu = authorBox.find('#filter_author_menu');
        var yearMenu = yearBox.find('#filter_year_menu');
        if(author) authorBox.find("a[data='"+author+"']").addClass('active');
        if(yearid) $('#filter_year_menu').find("a[data='"+yearid+"']").addClass('active');
        var authorMenuHeight = authorMenu.outerHeight();
        authorMenu.css('height', '25px');
        authorBox.find('.addon').click(function () {
            if(authorMenu.hasClass('slide_down')) {
                authorMenu.animate({'height': '22px'}, function () {
                    authorMenu.removeClass('slide_down');
                });
            } else {
                authorMenu.animate({'height': authorMenuHeight}, function () {
                    authorMenu.addClass('slide_down');
                });
            }
        });
        var yearMenuHeight = yearMenu.outerHeight();
        yearMenu.css('height', '25px');
        yearBox.find('.addon').click(function () {
            if(yearMenu.hasClass('slide_down')) {
                yearMenu.animate({'height': '22px'}, function () {
                    yearMenu.removeClass('slide_down');
                });
            } else {
                yearMenu.animate({'height': yearMenuHeight}, function () {
                    yearMenu.addClass('slide_down');
                });
            }
        });
    })
</script>
{include file="common/footer" /}
</body>
</html>