/.idea
/.svn
/runtime/temp
/runtime/log
/runtime/cache
/application/database.php
/runtime/schema
/install/install.lock
/assets/wap/img/Thumbs.db
/.user.ini
/application/admin/addon/*/config.php
/sql
/runtime/cached/*.txt
.user.ini
/error
