<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"> 充值对象:</label>
        <div class="col-xs-12 col-sm-8">
            <input name="row[user_id]" value="{$row.user_id}"  data-source="/admin/user/user/index/selectpage" data-field="username" class="form-control selectpage" type="text"  />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"> 充值积分:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" name="row[score]" placeholder="输入负数即是扣减" value=""  />
        </div>
    </div>
    <div class="form-group">
        <label for="memo" class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="memo" name="row[memo]"></textarea>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" id="agree_tixian" class="btn btn-success btn-embossed">充值</button>
        </div>
    </div>
</form>