@charset "utf-8";
body {
    background-color: #fff;
}
/* 文章浏览，查看代码的样式 */
pre.code {
    margin-left: 0.1em;
    border-left: 3px solid #dedede;
    background-color: #fafafa;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

/* 分页 */
.index_page_bar {
    margin-top: 10px;
}
.index_page_bar a {
    display: inline-block;
    padding: 2px 4px 2px 4px;
    border-radius: 8px;
    font-size: 14px;
    color: #999;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #fff;
}
.index_page_bar a:hover {
    text-decoration: none;
    background-color: #f3f3f3;
}
.index_page_bar a.current {
    background-color: #efefef;
    border: 1px solid #ddd;
}
.index_page_bar .page_0,
.index_page_bar .page_1,
.index_page_bar .page_2,
.index_page_bar .page_3,
.index_page_bar .page_4,
.index_page_bar .page_5,
.index_page_bar .page_6,
.index_page_bar .page_7,
.index_page_bar .page_8,
.index_page_bar .page_9 {
    background: url("/resource/pub/images/pages_num.png") no-repeat;
    width: 11px;
    height: 18px;
    display: inline-block;
    text-indent: 20px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}
.index_page_bar .page_1 {
    background-position: -13px bottom;
}
.index_page_bar .page_2 {
    background-position: -30px bottom;
}
.index_page_bar .page_3 {
    background-position: -42px 2px;
}
.index_page_bar .page_4 {
    background-position: -59px bottom;
}
.index_page_bar .page_5 {
    background-position: -72px bottom;
}
.index_page_bar .page_6 {
    background-position: -86px bottom;
}
.index_page_bar .page_7 {
    background-position: -100px bottom;
}
.index_page_bar .page_8 {
    background-position: -114px bottom;
}
.index_page_bar .page_9 {
    background-position: -125px bottom;
}



.header {
    margin: 0 auto;
}
.container {
    max-width: 1000px;
}
/*  头部logo部位 */
#navigation {
    max-width: 1000px;
    margin: 10px auto;
    height: 50px;
    color: #666;
    font-size: 14px;
    background: url(/resource/front/images/index_lines.png) no-repeat 0 8px;
}
#navigation ul {
    margin-left: 20px;
}
#navigation ul li {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
}
#navigation ul li .logo {
    display: inline-block;
    width: 40px;
    overflow: hidden;
    margin-left: -10px;
}
#navigation ul li .logo img {
    width: 40px;
}
#navigation ul li a {
    font-size: 14px;
    font-weight: 900;
    font-family: '宋体';
    text-decoration: none;
}
#navigation ul li i {
    width: 12px;
    height: 12px;
    background: url(/resource/front/images/index_lines.png) no-repeat -12px -60px;
    display: inline-block;
}
#navigation ul li a,
#navigation ul li a:visited {
    color: #666;
}
#navigation ul li.status_box {
    float: right;
    margin-top: -2px;
}
#navigation ul li.status_box a {
    font-size: 11px;
}
#navigation ul li.status_box em {
    margin-right: 14px;
}

/* 页脚 */
.footer {
    background-color: #fff;
    color: #666;
}
.footer a {
    color: #666;
}
.footer a:hover {
    text-decoration: none;
    color: #ff4201;
}
.footer .group {
    width: 906px;
    margin: 10px auto;
    clear: both;
    text-align: center;
    padding: 20px 0;
}

/* 快速登录 */
.new_loginbox {
    font-size: 22px;
    position: absolute;
    z-index: 1022;
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    max-width: 100%;
}
.new_loginbox .lr_box_top_bar {
    background-color: #fff;
    font-weight: bold;
    padding: 22px 0 20px 0;
    overflow: hidden;
    display: block;
    color: #888;
    font-size: 28px;
    border-radius: 6px 6px 0 0;
    text-align: center;
}
.new_loginbox .lr_box_top_bar .close_pc {
    position: absolute;
    right: 26px;
    top: 26px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    width: 34px;
    height: 34px;
    background: url(/assets/libs/lr/box/close.png) transparent 0 0/cover;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    opacity: 1;
}
.new_loginbox .lr_box_top_bar .close_wap {
    position: absolute;
    right: 18px;
    top: 18px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    width: 20px;
    height: 20px;
    background: url(/assets/libs/lr/box/close.png) transparent 0 0/cover;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    opacity: 1;
}
.new_loginbox .lr_content .loading_box {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.new_loginbox .diy_input {
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

