/* 文章阅读 */

/* 文章首页　内容 */
.juzi_body {
    display: block;
    max-width: 960px;
    margin: 20px auto;
} 
/* 阅读 */
.juzi_body .juzi_info {
    margin: 5px 10px;
}
.juzi_body .juzi_info ul li {
    line-height: 22px;
    display: block;
    color: #777;
}
.juzi_body .juzi_info ul li .em {
    display: inline-block;
    width: 66px;
    white-space: nowrap;
}
.juzi_body #juzi_content {
    padding: 20px 0;
    text-align: center;
}
.juzi_body #juzi_content .icon {
    width: 15%;
    max-width: 44px;
    max-height: 44px;
    min-height: 44px;
    display: inline-block;
    background: url("/resource/front/images/tianzibu.png") no-repeat;
    background-size: cover;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-top: -1px;
    margin-left: -1px;
    vertical-align: top;
}
