
.filter_box {
    position: relative;
}
.filter_box .addon {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    left: -12px;
    top: -7px;
}
.filter_box .sright {
    display: inline-block;
    line-height: 20px;
    margin-left: 48px;
    overflow: hidden;
}
 .filter_box .sright a {
     display: inline-block;
     margin: 0 5px 5px 0;
 }

 .filter_box .sright a.active {
     font-weight: bold;
     color: #f0ad4e;
 }

.front_body .share_icons {
    position: absolute;
    right: 10px;
    bottom: 4px;
}