#musicListBox .playBtn {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    border: 1px solid #009b18;
    background-color: #ddf8dd;
    position: relative;
    cursor: pointer;
    vertical-align: baseline;
    margin-left: 5px;
}
#musicListBox .playBtn:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    border: 4px solid transparent;
    border-left-color: #009b18;
}
#musicListBox .playBtn:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 4px;
    border-left: 1px solid #009806;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 8px;
    width: 1px;
    display: block;
}
#musicListBox .routing {
    border: 1px solid #f3bb5b;
    background-color: #fdf09f;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
    -o-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}