#searchForm {
    text-align: center;
    position: relative;
}
#searchForm .inner {
    padding: 10px;
}
#searchForm .inner .count_detail {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
    color: #999;
}
#searchForm .inner .ajax_menu {
    text-align: left;
}
.front_body .pagination {
    margin: 0;
}