.uri_body {
    max-width: 860px;
    margin: 0 auto;
}
.uri_body .panel-body {
    line-height: 180%;
}
.uri_body .inner {
    padding:  0 10px;
    line-height: 180%;
}
.uri_body .share_label {
    display: inline-block;
    vertical-align: text-bottom;
}
.uri_body .share_icons {
    display: inline-block;
    vertical-align: text-bottom;
}
.uri_body #tag_box input {
    margin-right: 5px;
}