<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户名:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" disabled="disabled" name="row[user_name]" value="{$row.user_name}" data-rule="required" />
        </div>
    </div>

    {if condition="$row.pictures eq true"}
    <div class="form-group">
        <label for="c-posters" class="control-label col-xs-12 col-sm-2">评价图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <textarea id="c-posters" data-rule="" disabled="disabled" class="form-control hidden" name="row[pictures]">{$row.pictures}</textarea>
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-posters" class="btn btn-danger plupload" data-input-id="c-posters" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-posters"><i class="fa fa-upload"></i> 上传</button></span>
                    <span><button type="button" id="fachoose-posters" class="btn btn-primary fachoose" data-input-id="c-posters" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> 选择</button></span>
                </div>
                <span class="msg-box n-right" for="c-posters"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-posters"></ul>
        </div>
    </div>
    {/if}


    {if condition="$row.grade eq true"}
    <div class="form-group">
        <label for="company_name" class="control-label col-xs-12 col-sm-2">用户评分:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" disabled="disabled"  name="row[grade]" value="{$row.grade}" data-rule="required" />
        </div>
    </div>
    {/if}



    <div class="form-group">
        <label for="company_desc" class="control-label col-xs-12 col-sm-2">评价内容:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea style="height:200px;" class="form-control" id="content" disabled="disabled" name="row[text]">{$row.text}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="company_name" class="control-label col-xs-12 col-sm-2">评价状态:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" disabled="disabled"  name="row[grade]" value="{$row.status_name}" data-rule="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="company_name" class="control-label col-xs-12 col-sm-2">评价时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" disabled="disabled"  name="row[createtime]" value="{$row.createtime}" data-rule="required" />
        </div>
    </div>


</form>