<style>
<!--
.top_title {
    margin: -10px -10px 0 -10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #feffe7;
    border-bottom: 1px solid #ffea93;
    font-weight: bold;
    color: #f4721d;
    position: relative;
}
.top_title .desc {
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 16px;
    color: #ff0000;
}
.top_title .icon {
    width: 22px;
    height: 19px;
    display: block;
    float: left;
    margin: 8px 8px 0 12px;
    background: url(/resource/manage/images/css/vip.gif);
}
.get_vip_wrap {
    margin-top: 20px;
}
.get_vip_wrap label {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 10px;
    line-height: 18px;
    border-radius: 6px;
}
.get_vip_wrap .active {
    background-color: #ffe4bc;
    color: #df7800;
}
.get_vip_wrap label .money {
    color: #c22800;
    font-size: 12px;
}
.get_vip_wrap label input {
    margin-right: 4px;
}
.get_vip_wrap .need_money {
    font-size: 16px;
    padding: 20px 0 10px 20px;
}
.get_vip_wrap .pay_btn_box {
    font-size: 14px;
    padding: 10px 0 10px 20px;
}
.get_vip_wrap .employ_box {
    font-size: 14px;
    padding: 5px 0 5px 20px;
}
.get_vip_wrap .employ_box em {
    float: left;
}
-->
</style>
<?php
if($u_type==1) {
    $u_type_name = '试客';
    $vip_desc_url = '#';
}
else if($u_type==2) {
    $u_type_name = '商家';
    $vip_desc_url = '#';
}
?>
<h1 class="top_title">
    <i class="icon"></i>选择充值VIP类型： <a href="<?=$vip_desc_url?>" class="desc">[查看<?=$u_type_name?>VIP介绍]</a>
</h1>
<div class="get_vip_wrap" id="get_vip_wrap">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <?php if($u_type==2) { ?>
                <label>
                    <input type="radio" name="viptype" value="1" data-money="<?=$GLOBALS['cfg_seller_vip_money']['1']?>" data-typename="月度VIP" />月度VIP <br />
                    <span class="money">￥<?=$GLOBALS['cfg_seller_vip_money']['1']?>/月</span>
                </label>
                <label>
                    <input type="radio" name="viptype" value="2" data-money="<?=$GLOBALS['cfg_seller_vip_money']['2']?>" data-typename="季度VIP" />季度VIP<br />
                    <span class="money">￥<?=$GLOBALS['cfg_seller_vip_money']['2']?>/3个月</span>
                </label>
                <label>
                    <input type="radio" name="viptype" value="3" data-money="<?=$GLOBALS['cfg_seller_vip_money']['3']?>" data-typename="年度VIP" />年度VIP<br />
                    <span class="money">￥<?=$GLOBALS['cfg_seller_vip_money']['3']?>/年</span>
                </label>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td colspan="10" class="need_money">
                您需要支付：￥<b id="need_pay_monty" class="red"></b>
            </td>
        </tr>
        <tr>
            <td colspan="10" class="employ_box">
                <?=$employ_id_html?>
            </td>
        </tr>
        <tr>
            <td colspan="10" class="pay_btn_box">
                <?php
            if($u_type==1) {
            ?>
                <input type="hidden" id="want_viptype" value="3">
                <?php
             } else {
            ?>
                <input type="hidden" id="want_viptype" value="">
                <?php
             }
            ?>
                <input type="hidden" id="realmoney" value="">
                <input type="hidden" id="want_type" value="">
                <a href="javascript: void(0);" id="submit_btn" target="_self" class="new_btn">确认支付</a>
            </td>
        </tr>
    </table>
</div>
<script>
    var wrap = $('#get_vip_wrap');
    wrap.find('label').click(function() {
        var label = $(this);
        if(label.hasClass('active')) return;
        label.addClass('active').siblings('.active').removeClass('active');
        var vipType = label.find('input').val();
        var money = label.find('input').data('money');
        var typename = label.find('input').data('typename');
        wrap.find('#need_pay_monty').html(money);
        wrap.find('#want_viptype').val(vipType);
        wrap.find('#realmoney').val(money);
        wrap.find('#want_type').val(typename);
    });

    //提交支付事件
    wrap.find('#submit_btn').click(function() {
        var vipType = wrap.find('#want_viptype').val();
        var money = wrap.find('#realmoney').val();
        var typename = wrap.find('#want_type').val();
        var employid = wrap.find('#employid').val();
        if(!vipType || vipType < 1) {
            msg('请选择VIP类型');
            return;
        }
        if(!employid || isNaN(employid) || employid<1) {
            msg('请输入业务员ID，并且是纯数字');
            return;
        }
        msgConfirm('您确定要开通<b class="red">'+ typename +'</b>吗？确定后系统将自动扣除您<b class="red">'+money+'</b>元。','开通',function(){
            hideNewBox();
            var newDate = {
                vip_type: vipType,
                employid: employid
            };
            post("/?s=user&do=get_vip&json=true",newDate,function(data){
                hideNewBox();
                if(data.id != '0422') {
                    if(data.info) data.msg += data.info;
                    msg(data.msg,4);
                    if(data.id == '0000') {
                        msg(data.msg,1);
                    }
                } else {
                    msg(data.msg,1);
                }
            });
            msg( 'VIP开通中...请勿刷新或关闭页面!');
        });
    });
</script>