<style type="text/css">
    <!--
    /* 我的经验值日志 */
    .exp_log_form {
        border-radius: 4px;
        background-color: #f8fbfd;
        margin: -28px -18px 0 -23px;
    }
    .exp_log_form .users {
        margin-top: 5px;
    }
    .exp_log_form td {
        color: #666;
        padding: 2px 0;
    }
    .exp_log_form .top_tr {
        background-color: #ebf4f2;
        color: #555;
        font-weight: bold;
        color: #999;
    }
    -->
</style>
<div class="exp_log_form">
    <div class="users">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="top_tr">
                <td width="15"></td>
                <td>变动经验值</td>
                <td>上次经验</td>
                <td>变动时间</td>
                <td>描述</td>
            </tr>
            <?php
            foreach ($log_list as $key => $v) {
            ?>
            <tr>
                <td></td>
                <td>
                    <?=$v['e_num']?>点
                </td>
                <td>
                    <?=$v['e_lastexp']?>点
                </td>
                <td>
                    <?=$v['e_addtime']?>
                </td>
                <td>
                    <?=$v['e_memo']?>
                </td>
            </tr>
            <?php
            }
            ?>
        </table>
    </div>
    <?=$page_menu?>
</div>
<script>
    //翻页
function exp_log_page(page) {
    hideNewBox();
    msgWin('我的经验值日志','/?s=user/form&form=my_exp_log&page='+page, 800, 1);
}
</script>