<script type="text/javascript" src="/assets/libs/editormd/editormd.js"></script> <!-- 编辑器 -->
<link href="/assets/libs/editormd/css/editormd.css" rel="stylesheet" media="all" /> <!-- 编辑器 -->
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="widget-body no-padding">
                <div id="show_search_form"></div>
                <div id="toolbar" class="toolbar">
                    <?=build_toolbar([
                        [
                        'power'=>'index/index',
                    'title'=>'刷新',
                    'icon'=>'fa fa-refresh',
                    'class'=>'btn btn-primary btn-refresh',
                    'click'=>'refreshList()'
                    ],
                    [
                    'power'=>'index/add',
                    'title'=>'添加',
                    'class'=>'btn btn-success',
                    'click'=>'editArticle()'
                    ]
                    ]);?>
                </div>
                <div id="list_result"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var indexUrl = '/adppp/article/index/index';
    var addUrl = '/adppp/article/index/add';
    var editUrl = '/adppp/article/index/edit/id/';
    var getUrl = '/adppp/article/index/get/id/';
    var delUrl = '/adppp/article/index/del/id/';
    var auditUrl = '/adppp/article/index/audit/id/';

    //分页框
    var pageObj = makePage({
        click: function (obj, newPage) {
            topSearchForm.findName("page").val(newPage);
            searchFormGo(topSearchForm, parentListTable, pageObj, false);
        }
    });
    //搜索框
    var topSearchForm = makeForm({
        url: indexUrl,
        submit: function(form_, e) {
            console.log(e);
            e.preventDefault();
            topSearchForm.findName("page").val(1);
            searchFormGo(topSearchForm, parentListTable, pageObj, true);
            return false;
        },
        value: makeDiv({
            'class': 'col-xs-6 col-sm-6 col-md-6 col-lg-6',
            value: [
                makeInput({
                    value: 1,
                    type: 'hidden',
                    name: 'page'
                }),
                makeSpan({
                    'class': 'form-group col-md-9',
                    value: [
                        makeSpan({
                            'class': 'control-label col-xs-4',
                            value: '标题:'
                        }), makeSpan({
                            'class': 'col-xs-8',
                            value: makeInput({
                                'name': 'title',
                                value: '',
                                clear: true
                            })
                        })
                    ]
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: makeBtn({
                        'class': 'btn btn-success',
                        value: '搜索',
                        type: 'submit'
                    })
                }),
            ]
        })
    });
    $('#show_search_form').append(topSearchForm);
    var parentListTable = makeTable({
        'class': 'table table-striped table-bordered table-hover',
        tr_top: [
            {
                th: [
                    { value: 'ID'  },
                    { value: '标题' },
                    { value: '日期' },
                    { value: '浏览' },
                    { value: '状态' },
                    { value: '操作'}
                ]
            }
        ],
        tr_default: [
            {
                show: '{{this.length}==0}',
                td: [
                    {
                        colspan: '5',
                        value: '没有搜索结果'
                    }
                ]
            }
        ],
        tr: [
            {
                show: '{"{id}" !=""}',
                td: [
                    {
                        value: '{id}'
                    },
                    {
                        value: '<a href="/uc/article/details/id/{id}" target="_blank">{title}</a>'
                    },
                    {
                        value: '{timeToYMD[run]({thatDate})}'
                    },
                    {
                        value: '{rq}'
                    },
                    {
                        value: '{{status}==0 ? "未审核": ({status}==1 ? "通过":"拒绝")}'
                    },
                    {
                        value: [
                            makeBtn({
                                'class': 'btn btn-xs btn-info',
                                value: '通过',
                                show: '{{status}==0||{status}==-1}',
                                margin_left: '5px',
                                click: "passArticle\('{id}', 1\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-warning',
                                value: '拒绝',
                                show: '{{status}==0||{status}==1}',
                                margin_left: '5px',
                                click: "passArticle\('{id}', 0\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-success',
                                value: '编辑',
                                margin_left: '5px',
                                click: "editArticle\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-danger',
                                value: '删除',
                                margin_left: '5px',
                                click: "del\('{id}'\)"
                            })
                        ]
                    }
                ]
            }
        ],
        data_from: {
            func: function (tableObj) {
                searchFormGo(topSearchForm, tableObj, pageObj);
            }
        }
    });
    $('#list_result').append(parentListTable).append(pageObj);

    //刷新列表
    function refreshList() {
        searchFormGo(topSearchForm, parentListTable, pageObj, false);
    }

    //审核文章
    function passArticle(id, flag) {
        postAndDone({
            url: auditUrl + id,
            postData: {
                pass: flag
            },
            success_key: 'code',
            success_value: '1',
            success_func: function () {
                refreshList();
                msgTis(data.msg);
            },
            err_func: function (data) {
                msgTis(data.msg);
            }
        });
    }
    //删除
    function del(id) {
        msgConfirm('您是否确认要删除？', '确定', '取消', function () {
            hideNewBox();
            postAndDone({
                url: delUrl + id,
                success_key: 'code',
                success_value: '1',
                success_func: function () {
                    refreshList();
                    hideAllBox();
                    msgTis('删除成功');
                },
                err_func: function (data) {
                    msgTis(data.msg);
                }
            })
        });
    }
    //编辑文章信息
    function editArticle(id) {
        id = id || 0;
        msgWin(id ?'编辑文章':'发布文章', id ? '[url]/admin/addon/article/index/modify/id/'+ id : '[url]/admin/addon/article/index/modify/', 1200, 1);
    }


</script>
