<style>
/* 邀请注册记录 */
.invite_form{
    margin-top: 20px;
}
#invite_main {
    font-size: 13px;
}
#invite_desc {
    color: #777;
    line-height: 35px;
    padding: 5px 10px;

    height: 75px;
}
.invite_list {
    background-color: #fefefe;
    border-radius: 4px;
    margin-top: 2px;
}
.invite_list ul {
    padding: 5px 0;
}
.invite_list ul li .details {
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 300px;
    text-indent: 10px;
}
.invite_list ul li .details .un {
    color: #dd431a;
}
.invite_list ul li .time {
    color: #999;
}
.invite_list ul li.no {
    padding: 10px;

}
</style>
<div class="invite_form">
    <div class="top_title_new">
        <a class="active first">我邀请的好友</a>
    </div>
    <div class="new_view_wrap" id="invite_main">
        <ul>
            <li id="invite_desc" >
                邀请好友
                将以下链接发送给不同好友，成功邀请注册1位可获得<?=$GLOBALS['invite_reg_score']?>金币，每日封顶<?=$GLOBALS['invite_reg_max']?>人。<br />
                <span style="float: left;"> 我的专属链接：</span>
                <input class="input red" onclick="$(this).select();" value="<?=$GLOBALS['cfg_basehost']?>/reg-<?=$u_fcode?>" style="width: 328px;" />
            </li>

            <div class="invite_list">
                <ul>
                    <?php
                if($user_list) {
                    foreach ($user_list as $n => $v){
                    ?>
                    <li>
                        <span class="details">邀请 <span class="un"><?=$v['invite_nick']?></span> 注册成功 </span>
                        <span class="time"> <?=$v['s_addtime']?></span>
                    </li>
                    <?php
                     }
                }else {
                ?>
                    <li class="no">您还没有邀请记录.</li>
                    <?php
                 }
                ?>
                </ul>
            </div>
            <?=$page_menu?>
        </ul>
    </div>
</div>
<script>
    //翻页格式化
    function invite_page(page) {
        var new_url = "/?s=user/invite&page="+ page ;
        ajaxOpen(new_url);
    }
    leftEvent('my_invite');
</script>