<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="widget-body no-padding">
                <div id="show_search_form"></div>
                <div id="toolbar" class="toolbar">
                    <?=build_toolbar([
                        [
                        'power'=>'index/index',
                    'title'=>'刷新',
                    'icon'=>'fa fa-refresh',
                    'class'=>'btn btn-primary btn-refresh',
                    'click'=>'refreshRule()'
                    ],
                    [
                    'power'=>'index/add',
                    'title'=>'添加',
                    'icon'=>'fa fa-plus',
                    'class'=>'btn btn-success btn-add',
                    'click'=>'editRule()'
                    ]
                    ]);?>
                </div>
                <div id="list_result"></div>
            </div>
        </div>
    </div>
</div>


<script>
        var indexUrl = '/admin/auth/rule/';
        var delUrl = '/admin/auth/rule/del/id/';
        var getUrl = '/admin/auth/rule/get/id/';
        var addUrl = '/admin/auth/rule/add/';
        var editUrl = '/admin/auth/rule/edit/id/';

        //分页框
        var pageObj = makePage({
            click: function (obj, newPage) {
                topSearchForm.findName("page").val(newPage);
                searchFormGo(topSearchForm, parentListTable, pageObj, false);
            }
        });
        //搜索框
        var topSearchForm = makeForm({
            url: indexUrl,
            submit: function(form_, e) {
                e.preventDefault();
                topSearchForm.findName("page").val(1);
                searchFormGo(topSearchForm, parentListTable, pageObj);
                return false;
            },
            value: makeDiv({
                'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12',
                value: [
                    makeInput({
                        value: 1,
                        type: 'hidden',
                        name: 'page'
                    }),
                    makeSpan({
                        'class': 'form-group col-md-3',
                        value: [
                            makeSpan({
                                'class': 'control-label col-xs-4',
                                value: 'ID:'
                            }),
                            makeInput({
                                'class': 'col-xs-8',
                                'name': 'id',
                                value: '',
                            }),
                        ]
                    }),
                    makeSpan({
                        'class': 'form-group col-md-3',
                        value: [
                            makeSpan({
                                'class': 'control-label col-xs-4',
                                value: '权限名:'
                            }),
                            makeSpan({
                                'class': 'col-xs-8',
                                value:  makeInput({
                                    'name': 'title',
                                    value: '',
                                    clear: true
                                })
                            })
                        ]
                    }),
                    makeSpan({
                        'class': 'form-group col-md-3',
                        value: makeBtn({
                            'class': 'btn btn-success',
                            value: '搜索',
                            type: 'submit'
                        })
                    }),
                ]
            })
        });
        $('#show_search_form').append(topSearchForm);
        var parentListTable = makeTable({
            'class': 'table table-striped table-bordered table-hover',
            tr_top: [
                {
                    th: [
                        {
                            value: 'ID'
                        },
                        {
                            value: '权限名'
                        },
                        {
                            value: '权限路径'
                        },
                        {
                            value: '图标'
                        },
                        {
                            value: '排序'
                        },
                        {
                            value: '操作'
                        }
                    ]
                }
            ],
            tr_default: [
                {
                    show: '{{this.length}==0}',
                    td: [
                        {
                            colspan: '6',
                            value: '没有搜索结果{id}'
                        }
                    ]
                }
            ],
            tr: [
                {
                    show: '{"{id}" !=""}',
                    td: [
                        {
                            value: [
                                makeSpan({
                                    value: '{id}'
                                })
                            ]
                        },
                        {
                            value: '{title}'
                        },
                        {
                            value: '{auth_path}'
                        },
                        {
                            value: '<i class="{icon}"></i> <br />{icon}'
                        },
                        {
                            value: makeInput({
                                width: '70px',
                                size: 'sm',
                                value: '{order}',
                                url: editUrl + '{id}',
                                post_name: 'row[order]',
                                ajax: true,
                                success_key: 'code',
                                success_value: '1',
                                success_func: function () {
                                    msgTis('修改成功');
                                    refreshRule();
                                },
                                err_func: function (res) {
                                    msgTis('edit fail:'+ (res.msg||''));
                                },
                            })
                        },
                        {
                            value: [
                                makeBtn({
                                    'class': 'btn btn-xs btn-success',
                                    value: '编辑',
                                    click: "editRule('{id}')"
                                }),
                                makeBtn({
                                    'class': 'btn btn-xs btn-danger',
                                    value: '删除',
                                    margin_left: '5px',
                                    click: "delRule('{id}')"
                                })
                            ]
                        }
                    ]
                }
            ],
            data_from: {
                func: function (tableObj) {
                    searchFormGo(topSearchForm, tableObj, pageObj);
                }
            }
        });
        $('#list_result').append(parentListTable).append(pageObj);

        //刷新列表
        function refreshRule() {
            searchFormGo(topSearchForm, parentListTable, pageObj);
        }
        //删除权限
        function delRule(id) {
            msgConfirm('您是否确认要删除此权限？', '确定', '取消', function () {
                hideNewBox();
                postAndDone({
                    url: delUrl + id,
                    success_key: 'code',
                    success_value: '1',
                    success_func: function () {
                        refreshRule();
                        hideAllBox();
                        msgTis('删除成功');
                    },
                    err_func: function (data) {
                        msgTis(data.msg);
                    }
                })
            });
        }

        //添加编辑权限
        function editRule(id) {
            id = id || 0;
            var dataFromObj = null;
            if(id) {
                dataFromObj = {
                    url: getUrl + id,
                    data_key: 'data'
                };
            }
            var box = makeForm({
                'type': 'post',
                url: id > 0 ? editUrl + id : addUrl,
                submit: function (obj, ev) {

                },
                success_key: 'code',
                success_value: ['1'],
                success_func: function (data) {
                    hideNewBox();
                    if(id > 0) {
                        msgTis('修改成功');
                    } else {
                        msgTis('添加成功');
                    }
                    refreshRule();
                },
                err_func: function (data) {
                    msg(data.msg);
                },
                value: makeTable({
                    'class': 'edit_table',
                    data_from: dataFromObj,
                    tr_1: [
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: '所属权限'
                                }, {
                                    'class': 'td_main',
                                    value: makeSelect({
                                        name: 'row[pid]',
                                        value: '{pid}',
                                        'clear': true,
                                        value_key: 'id',
                                        title_key: 'title',
                                        menu: {
                                            data_from: {
                                                url: '/admin/auth/rule/index/selectpage',
                                                data_key: 'rows'
                                            },
                                        },
                                        li: {
                                            value: '{title}'
                                        }
                                    })
                                }]
                        },
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: '权限名'
                                }, {
                                    'class': 'td_main',
                                    value: makeInput({
                                        width: '100%',
                                        name: 'row[title]',
                                        value: '{title}',
                                        null_func: function () {
                                            msgTis('权限名不能为空');
                                        }
                                    })
                                }]
                        },
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: '权限路径'
                                }, {
                                    'class': 'td_main',
                                    value: makeInput({
                                        width: '100%',
                                        name: 'row[auth_path]',
                                        value: '{auth_path}',
                                        null_func: function () {
                                            msgTis('权限路径不能为空');
                                        }
                                    })
                                }]
                        },
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: '图标'
                                }, {
                                    'class': 'td_main',
                                    value: makeInput({
                                        width: '100%',
                                        name: 'row[icon]',
                                        value: '{icon}'
                                    })
                                }]
                        },
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: '排序'
                                }, {
                                    'class': 'td_main',
                                    value: makeInput({
                                        width: '100%',
                                        name: 'row[order]',
                                        value: '{order}',
                                        null_func: function () {
                                            msgTis('越大越前');
                                        }
                                    })
                                }]
                        },
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: '是否菜单'
                                }, {
                                    'class': 'td_main',
                                    value:  makeRadios({
                                        name: 'row[ismenu]',
                                        value: '{"{ismenu}" ? "{ismenu}":"1"}',
                                        item_data: [{value: 1, text: '是'},{value: 0, text: '否'}]
                                    })
                                }]
                        },
                        {
                            td: [
                                {
                                    'class': 'td_em',
                                    value: ''
                                }, {
                                    'class': 'td_main',
                                    value: makeBtn({
                                        'class': 'btn btn-success',
                                        'value': id>0 ? '编辑' : '添加',
                                        'type': 'submit'
                                    })
                                }]
                        }
                    ]
                })
            });
            msgWin(id >0 ? '编辑':'添加', box, 500, 100);
        }
    </script>