<div class="panel panel-default panel-intro">
    {:build_heading()}
    <style>
        .tab-content .input-group {
            margin-bottom: 5px;
        }
        .actionBtn a {
            color: #c1c9f1;
            cursor: pointer;
        }
        .actionBtn a + a {
            margin-left: 2px;
        }
    </style>
    <div class="panel-body" id="rulesBox">
        <div class="tab-content">
            <form class="form-inline" id="search_rule_form">
                <input name="page" class="page" type="hidden" value="1" />
                <div class="input-group">
                    <input type="text" class="form-control"  name="title" placeholder="Title" value="">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control pid"  name="pid" placeholder="Pid" value="">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control"  name="url" placeholder="Url" value="">
                </div>
                <button type="submit" style="vertical-align: top;" class="btn btn-success">
                    Search
                </button>
                <button type="button" style="vertical-align: top;" class="btn btn-info addRuleBtn">
                    Add
                </button>
            </form>
        </div>
        <div class="row" style="margin: 10px 0;">
            <div class="box box-info">
                <div class="box-header ui-sortable-handle">
                    <h3 class="box-title">
                       Total: <span class="ruleTotalNum">0</span>
                    </h3>
                </div>
                <div class="box-body" id="resultList">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery','lrBox', 'lrEle'], function ($, lrBox, lrEle) {
        var indexUrl = '/auth/rule/newIndex';
        var addUrl = '/auth/rule/addNew';
        var editUrl = '/auth/rule/editNew/id/';
        var deleteUrl = '/auth/rule/del/ids/';
        var rulesBox = $('#rulesBox');
        var searchForm = rulesBox.find('#search_rule_form');
        var addRuleBtn = searchForm.find('.addRuleBtn');
        var parentListTable = lrEle.makeTable({
            'class': 'table table-striped table-bordered table-hover',
            tr_top: [
                {
                    th: [
                        { value: 'Id'},
                        { value: 'Title'},
                        { value: 'Include'},
                        { value: 'Url(Name)'},
                        { value: 'Weigh' },
                        { value: 'Status'},
                        { value: 'IsMenu'},
                        { value: 'Operate'},
                    ]
                }
            ],
            tr_default: [
                {
                    show: '{!this.data}',
                    td: [
                        {
                            colspan: '8',
                            value: 'No Data'
                        }
                    ]
                }
            ],
            tr: [
                {
                    '_id': '{id}',
                    dblclick: function (o) {
                        lrBox.msgView('Edit Rule', '[url]'+ editUrl + o._id, 560, 0)
                    },
                    show: '{this.data}',
                    td: [
                        {
                            value: '{id}'
                        },
                        {
                            value: [
                                lrEle.makeSpan({
                                    value: '{parentTitle}',
                                }),
                                lrEle.makeSpan({
                                    value: lrEle.makeI({
                                            'class': '{icon}',
                                        }),
                                    'class': 'btn btn-xs',
                                }),
                                lrEle.makeSpan({
                                    value: '{title}',
                                })
                            ]
                        },
                        {
                            value:  [
                                lrEle.makeSpan({
                                    value: lrEle.makeI({
                                        'class': 'fa fa-list',
                                        'title': 'openList',
                                        '_id': '{id}',
                                        click: function (o) {
                                            filterPid(o._id);
                                        }
                                    }),
                                    'class': 'btn btn-xs',
                                }),
                                lrEle.makeSpan({
                                    value: '{total}',
                                })
                            ]
                        },
                        {
                            value: '{name}'
                        },
                        {
                            value: '{weigh}'
                        },
                        {
                            value: '{status}'
                        },
                        {
                            value: '{ismenu}'
                        },
                        {
                            value: [
                                lrEle.makeSpan({
                                    value: lrEle.makeI({
                                        'class': 'fa fa-pencil',
                                    }),
                                    '_id': '{id}',
                                    click: function (o) {
                                        lrBox.msgView('Edit Rule', '[url]'+  editUrl + o._id, 560, 0)
                                    },
                                    'title': 'Edit',
                                    'class': 'btn btn-xs btn-success',
                                }),
                                lrEle.makeSpan({
                                    'title': 'delete',
                                    value: lrEle.makeI({
                                        'class': 'fa fa-trash',
                                    }),
                                    '_id': '{id}',
                                    click: function (o) {
                                        lrBox.msgConfirm('Are you sure you want to delete this item  : '+ o._id + ' ?', 'Yes', 'No', function () {
                                            lrBox.hideNewBox();
                                            lrBox.loadingSvg(true);
                                            lrEle.postAndDone({
                                                url: deleteUrl + o._id,
                                                postData: {
                                                },
                                                success_func: function (res) {
                                                    getUrlData(false);
                                                    lrBox.noLoading();
                                                    lrBox.msgTisf(res.msg);
                                                },
                                            });
                                        }, function () {
                                            lrBox.hideNewBox();
                                        });
                                    },
                                    style: 'margin-left: 5px;',
                                    'class': 'btn btn-xs btn-danger',
                                }),
                            ]
                        }
                    ]
                }
            ],
            data_from: {
                func: function (tableObj) {
                    getUrlData(true);
                }
            }
        });

        var getUrlData = function(renewPageObj) {
            var params = searchForm.serializeArray();
            var datas = {};
            params.map(function (n, v) {
                datas[n.name] = n.value;
            });
            lrEle.postAndDone({
                url: indexUrl,
                postData: datas,
                success_func: function (responseData) {
                    lrBox.noLoading();
                    parentListTable['data'] = responseData['rows'];
                    rulesBox.find('.ruleTotalNum').html(responseData['total']);
                    if(renewPageObj) {
                        var pageOpt = pageObj['options'];
                        pageOpt['page'] = responseData['page'];
                        pageOpt['pagesize'] = responseData['page_size'];
                        pageOpt['total'] = responseData['total'];
                        pageObj.renew(pageOpt);
                    }
                },
            });
        };

        searchForm.on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();
            lrBox.loading();
            searchForm.find(".page").val(1);
            getUrlData(true);
        });
        addRuleBtn.on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            lrBox.hideNewBox();
            lrBox.msgView('add',
                '[url]'+ addUrl, 560, 0,
                {bg: true}
            );
        });
        //搜索权限的子权限
        var filterPid = function (pid) {
            searchForm.find(".pid").val(pid);
            searchForm.find(".page").val(1);
            getUrlData(true);
        };

        //分页框
        var pageObj = lrEle.makePage({
            goto: 'r',
            show: '{{this.totalPage}>1}',
            click: function (obj, newPage) {
                lrBox.loading();
                searchForm.find(".page").val(newPage);
                getUrlData(false);
            }
        });
        $('#resultList').append(parentListTable).append(pageObj);
        window.setEditRuleCallBack  =function () {
            getUrlData(false);
        };
        return {};
    });
</script>