<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="socketUrl" content="{$socketUrl}">

{include file="common/meta" /}
<title> {$webTitle} </title>
<link href="__CDN__/assets/wap/css/index.css" rel="stylesheet">
</head>
<body>
<script>
    var weixin_appid = '{$weixin_appid}';
    var openid = '{$user_openid}';
    var userToken = '{$user_token}';
    var uip = '{$uip}';
</script>
<div id="lr_body">
    <nav id="lr_top_nav"></nav>
    <div id="lr_main_body">
    </div>
    <footer id="lr_footer">
    </footer>
    {$tongjiCode}
    </div>
</body>
</html>