<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="widget-body no-padding">
                <div id="show_search_form"></div>
                <div id="toolbar" class="toolbar">
                    <?=build_toolbar([
                        [
                        'power'=>'index/index',
                    'title'=>'刷新',
                    'icon'=>'fa fa-refresh',
                    'class'=>'btn btn-primary btn-refresh',
                    'click'=>'refreshFujian()'
                    ]
                    ]);?>
                </div>
                <div id="list_result"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var indexUrl = '/adppp/fujian/index/index/';
    var delUrl = '/adppp/fujian/index/del/id/';

    //分页框
    var pageObj = makePage({
        click: function (obj, newPage) {
            topSearchForm.findName("page").val(newPage);
            searchFormGo(topSearchForm, parentListTable, pageObj, false);
        }
    });
    //搜索框
    var topSearchForm = makeForm({
        url: indexUrl,
        submit: function(form_, e) {
            e.preventDefault();
            topSearchForm.findName("page").val(1);
            searchFormGo(topSearchForm, parentListTable, pageObj, true);
            return false;
        },
        value: makeDiv({
            'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12',
            value: [
                makeInput({
                    value: 1,
                    type: 'hidden',
                    name: 'page'
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: [
                        makeSpan({
                            'class': 'control-label col-xs-4',
                            value: 'ID:'
                        }),
                        makeInput({
                            'class': 'col-xs-8',
                            'name': 'id',
                            value: '',
                        }),
                    ]
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: [
                        makeSpan({
                            'class': 'control-label col-xs-4',
                            value: '帐号:'
                        }), makeSpan({
                            'class': 'col-xs-8',
                            value:makeInput({
                                'name': 'username',
                                value: '',
                                clear: true
                            })
                        })
                    ]
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: [
                        makeSpan({
                            'class': 'control-label col-xs-4',
                            value: '附件名:'
                        }),
                        makeSpan({
                            'class': 'col-xs-8',
                            value:  makeInput({
                                'name': 'title',
                                value: '',
                                clear: true
                            })
                        })
                    ]
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: makeBtn({
                        'class': 'btn btn-success',
                        value: '搜索',
                        type: 'submit'
                    })
                }),
            ]
        })
    });
    $('#show_search_form').append(topSearchForm);
    var parentListTable = makeTable({
        'class': 'table table-striped table-bordered table-hover',
        tr_top: [
            {
                th: [
                    { value: 'ID'  },
                    { value: '附件名字' },
                    { value: '格式' },
                    { value: '上传时间'},
                    {  value: '文件大小' },
                    {  value: '组件名' },
                    {  value: '使用数据' },
                    { value: '操作'  }
                ]
            }
        ],
        tr_default: [
            {
                show: '{{this.length}==0}',
                td: [
                    {
                        colspan: '8',
                        value: '没有搜索结果{id}'
                    }
                ]
            }
        ],
        tr: [
            {
                show: '{"{id}" !=""}',
                td: [
                    {
                        value: '{id}'
                    },
                    {
                        value: '{title}'
                    },
                    {
                        value: '{geshi}'
                    },
                    {
                        value: '{noSecond[run]({ctime})}'
                    },
                    {
                        value: '{filesize}'
                    },
                    {
                        value: '{addon_name} <br />({addon_title})'
                    },
                    {
                        value: '{addon_sourceid}'
                    },
                    {
                        value: [
                            makeA({
                                'class': 'btn btn-xs btn-info',
                                value: '下载',
                                target: '_blank',
                                href: "{fileurl_local}"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-danger',
                                value: '删除',
                                margin_left: '5px',
                                click: "delFujian\('{id}'\)"
                            })
                        ]
                    }
                ]
            }
        ],
        data_from: {
            func: function (tableObj) {
                searchFormGo(topSearchForm, tableObj, pageObj);
            }
        }
    });
    $('#list_result').append(parentListTable).append(pageObj);

    //刷新列表
    function refreshFujian() {
        searchFormGo(topSearchForm, parentListTable, pageObj, false);
    }
    //删除附件
    function delFujian(id) {
        msgConfirm('您是否确认要删除此附件？', '确定', '取消', function () {
            hideNewBox();
            postAndDone({
                url: delUrl + id,
                success_key: 'code',
                success_value: '1',
                success_func: function () {
                    refreshFujian();
                    msgTis('删除成功');
                },
                err_func: function (data) {
                    msgTis(data.msg);
                }
            })
        });
    }
</script>