<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
{include  file="common/banner" currentBanner='guren' /}
<style>
    .author_list .list_item {
        display: inline-block;
        margin-bottom: 15px;
        float: left;
        width: auto;
        padding: 0 5px;
    }
    .author_list .list_item .input-group {
        padding-top: 5px;
    }
    .author_list .list_item .input-group .btn + .btn {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
</style>
<div class="front_body container">
    <div class="panel panel-info">
        <form action="/juzi/author/lists/" method="get" class="input-group">
            <input value="<?=$keyword?>" name="keyword" class="form-control" />
            <span class="input-group-btn">
                    <button class="btn btn-success">搜索</button>
               </span>
        </form>
        <div class="panel-heading" style="position: relative;">
            <?=($keyword ? '搜索古人:'.$keyword : '所有古人')?>
        </div>
        <div class="panel-body author_list">
            <ul class="list-group">
                <?php
                foreach($list as $v) {
                ?>
                <li class="list_item">
                    <span class="label label-success"><?=$v['title']?></span>
                    <div class="input-group">
                        <a href="/juzi/author/id/<?=$v['id']?>" target="_blank" class="btn btn-default btn-xs">句子</a>
                        <a href="/juzi/gushi/index?author=<?=$v['title']?>" target="_blank" class="btn  btn-default btn-xs">古诗文</a>
                    </div>
                </li>
                <?php
                }
                ?>
            </ul>
            <?php
            if($nullStr) {
            ?>
            <div class="alert alert-warning">
                <?=$nullStr?>
            </div>
            <?php
            }
            ?>
            <?=$pageMenu?>
        </div>
    </div>
</div>
{include file="common/footer" /}
</body>
</html>