<div id="footer" class="container">
   <p class="text-center">
       <span style="display: none;">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277753387'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/stat.php%3Fid%3D1277753387%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
       </span>
       &copy;LR.2019.6.16
       |
       联系我们 qbmay#qq.com |
       <a href="https://treeholes.cc" target="_blank" style="color: #d01d33;">树洞,私密聊天</a> |
       <a href="https://fsy100.com" target="_self">QQ日志</a> |
       <a href="https://buyaowanyouxi.com" target="_self">不要玩游戏</a>
   </p>
    <script data-ad-client="ca-pub-7680676594412356" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</div>