<div id="navigation" class="container" style="max-width:860px">
    <div class="navbar navbar-default">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#top_menu" type="button"><span
                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span></button>
        <div class="navbar-header"><a href="/" target="_parent"><img class="navbar-brand"
                                                                     src="/assets/img/logo.png"
                                                                     style="padding:0"></a></div>
        <div id="top_menu" class="navbar-collapse collapse navbar-responsive-collapse ">
            <ul class="nav navbar-nav navbar-right" style="margin-left:20px;margin-right:20px">
            </ul>
        </div>
    </div>
</div>