<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$webTitle|default=''}{$webdesc? ' - '. $webdesc : ''}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="keywords" content="{$keywords ? $keywords : ''}">
<meta name="description" content="{$description ? $description : ''}">
<meta name="author" content="{$author ? $author : 'LR'}">
<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
<link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="__CDN__/assets/css/lr/jquery.lr_element.css" rel="stylesheet">
<link href="__CDN__/assets/css/lr/jquery.lr_box.css" rel="stylesheet">
<link href="__CDN__/assets/css/front.css" rel="stylesheet">
<script src="/assets/libs/jquery/dist/jquery.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/lr/jquery-lr_box.js"></script>
<script src="/assets/js/lr/jquery-lr_base.js"></script>
<script src="/assets/js/lr/jquery-lr_element.js"></script>
<script src="/assets/js/juzi/front.js"></script>
