<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">地名:<sup></sup></label>

        <div class="col-xs-12 col-sm-8">
            <select name="row[placename]"  class="form-control" placeholder="必填" data-bv-notempty="true" data-bv-notempty-message="不能为空">
                <option value="">请选择</option>
                {volist name="prodata" id="vo"}

                <option value="{$key}" {eq name="row.placename" value="$vo" }selected{/eq}>{$vo}</option>

                {/volist}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">首字母:<sup></sup></label>

        <div class="col-xs-12 col-sm-8">
            <select name="row[letter]"  class="form-control" placeholder="必填" data-bv-notempty="true" data-bv-notempty-message="不能为空">
                <option value="">请选择</option>
                {volist name="letterdata" id="vo"}

                <option value="{$key}" {eq name="row.letter" value="$vo" }selected{/eq}>{$vo}</option>

                {/volist}
            </select>
        </div>
    </div>


    <div class="form-group">
        <label for="userinvitenumber" class="control-label col-xs-12 col-sm-2">车牌号:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="userinvitenumber" name="row[userinvitenumber]" value="{$row.userinvitenumber}" data-rule="required" />
        </div>
    </div>


    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">车辆型号:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="car_version" name="row[car_version]" value="{$row.car_version}" data-rule="required" />
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">车辆购买时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="buy_car_date" name="row[buy_car_date]" value="{$row.buy_car_date}" data-rule="required" />
        </div>
    </div>

    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">状态:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--{:build_radios('row[status]', ['1'=>'上架', '0'=> '下架'], '0')}-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="memo" class="control-label col-xs-12 col-sm-2">商品详情:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<textarea class="form-control editor" id="memo" name="row[memo]"></textarea>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>