<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="widget-body no-padding">
                <div id="show_search_form"></div>
                <div id="toolbar" class="toolbar">
                    <?=build_toolbar([
                        [
                        'power'=>'index/index',
                    'title'=>'刷新',
                    'icon'=>'fa fa-refresh',
                    'class'=>'btn btn-primary btn-refresh',
                    'click'=>'refreshCaiji()'
                    ],
                    [
                    'power'=>'type/index/add',
                    'title'=>'添加采集',
                    'class'=>'btn btn-info btn-add',
                    'click'=>'modifyCaiji()'
                    ],
                    [
                    'title'=>'停止',
                    'class'=>'btn btn-info btn-warning',
                    'click'=>'cmdTtop = true;hideAllBox();'
                    ]
                    ]);?>
                </div>
                <div id="list_result" style="color: #82afc0"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var indexUrl = '/adppp/juzi/caijidianji/index';
    var addUrl = '/adppp/juzi/caijidianji/add';
    var getUrl = '/adppp/juzi/caijidianji/get/id/';
    var getYearUrl = '/adppp/juzi/caijidianji/getyearselect/';
    var editUrl = '/adppp/juzi/caijidianji/edit/id/';
    var delUrl = '/adppp/juzi/caijidianji/del/id/';
    var caijiUrl = '/adppp/juzi/caijidianji/begincaiji/id/';
    var copyUrl = '/adppp/juzi/caijidianji/copycaiji/id/';
    var cmdTtop = false;
    //分页框
    var pageObj = makePage({
        click: function (obj, newPage) {
            topSearchForm.findName("page").val(newPage);
            searchFormGo(topSearchForm, parentListTable, pageObj, false);
        }
    });
    //搜索框
    var topSearchForm = makeForm({
        url: indexUrl,
        submit: function(form_, e) {
            console.log(e);
            e.preventDefault();
            topSearchForm.findName("page").val(1);
            searchFormGo(topSearchForm, parentListTable, pageObj);
            return false;
        },
        value: makeDiv({
            'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12',
            value: [
                makeInput({
                    value: 1,
                    type: 'hidden',
                    name: 'page'
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: [
                        makeSpan({
                            'class': 'control-label col-xs-4',
                            value: '采集名:'
                        }), makeSpan({
                            'class': 'col-xs-8',
                            value: makeInput({
                                'name': 'title',
                                value: '',
                                clear: true
                            })
                        })
                    ]
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: makeBtn({
                        'class': 'btn btn-success',
                        value: '搜索',
                        type: 'submit'
                    })
                }),
            ]
        })
    });
    $('#show_search_form').append(topSearchForm);
    var parentListTable = makeTable({
        'class': 'table table-striped table-bordered table-hover',
        tr_top: [
            {
                th: [
                    { value: 'ID'  },
                    { value: '采集名' },
                    { value: 'url' },
                    { value: '数量'},
                    { value: '页码'},
                    { value: '创建时间'},
                    { value: '操作'}
                ]
            }
        ],
        tr_default: [
            {
                show: '{{this.length}==0}',
                td: [
                    {
                        colspan: '10',
                        value: '没有搜索结果'
                    }
                ]
            }
        ],
        tr: [
            {
                show: '{"{id}" !=""}',
                td: [
                    {
                        value: '{id}'
                    },
                    {
                        value: '{title}'
                    },
                    {
                        value: '{url_reg}'
                    },
                    {
                        value: '{num}'
                    },
                    {
                        value: '{topage}'
                    },
                    {
                        value: '{noSecond[run]({createtime})}'
                    },
                    {
                        value: [
                            makeBtn({
                                'class': 'btn btn-xs btn-success',
                                value: '复制',
                                click: "copyCaiji\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-info',
                                value: '编辑',
                                margin_left: '5px',
                                click: "modifyCaiji\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-warning',
                                value: '循环采集',
                                margin_left: '5px',
                                click: "beginCaiji\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-warning',
                                value: '采集1次',
                                margin_left: '5px',
                                click: "beginCaiji1\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-danger',
                                value: '删除',
                                margin_left: '5px',
                                click: "delCaiji\('{id}'\)"
                            })
                        ]
                    }
                ]
            }
        ],
        data_from: {
            func: function (tableObj) {
                searchFormGo(topSearchForm, tableObj, pageObj);
            }
        }
    });
    $('#list_result').append(parentListTable).append(pageObj);

    //刷新列表
    function refreshCaiji() {
        searchFormGo(topSearchForm, parentListTable, pageObj);
    }
    //复制采集
    function copyCaiji(id) {
        postAndDone({
            url: copyUrl + id,
            success_key: 'code',
            success_value: '1',
            success_func: function (reg) {
                noLoading();
                refreshCaiji();
                msgTisf(reg.msg);
                goCaiji();
            },
            err_func: function (data) {
                noLoading();
                msg(data.msg);
            }
        })
    }
    //开始采集
    function beginCaiji(id) {
        msgConfirm('您是否确认要开始此采集？', '确定', '取消', function () {
            cmdTtop = false;
            hideNewBox();
            loading(false);
            var goCaiji = function() {
                postAndDone({
                    url: caijiUrl + id,
                    success_key: 'code',
                    success_value: '1',
                    success_func: function (reg) {
                        noLoading();
                        msgTisf(reg.msg);
                        refreshCaiji();
                        if(!cmdTtop) goCaiji();
                    },
                    err_func: function (data) {
                        noLoading();
                        refreshCaiji();
                    }
                })
            };
            goCaiji();
        });
    }
    //开始采集1次
    function beginCaiji1(id) {
        msgConfirm('您是否确认要开始此采集？', '确定', '取消', function () {
            cmdTtop = false;
            hideNewBox();
            loading(false);
            var goCaiji = function() {
                postAndDone({
                    url: caijiUrl + id,
                    success_key: 'code',
                    success_value: '1',
                    success_func: function (reg) {
                        noLoading();
                        msgTisf(reg.msg);
                    },
                    err_func: function (data) {
                        noLoading();
                        msgTisf(data.msg);
                    }
                })
            };
            goCaiji();
        });
    }

    //删除采集
    function delCaiji(id) {
        msgConfirm('您是否确认要删除此采集？', '确定', '取消', function () {
            hideNewBox();
            postAndDone({
                url: delUrl + id,
                success_key: 'code',
                success_value: '1',
                success_func: function () {
                    refreshCaiji();
                    msgTis('删除成功');
                },
                err_func: function (data) {
                    msgTis(data.msg);
                }
            })
        });
    }

    //添加采集
    function modifyCaiji(id) {
        id = id || 0;
        var dataFromObj = null;
        if(id) {
            dataFromObj = {
                url: getUrl + id,
                data_key: 'data'
            };
        }
        var box = makeForm({
            'type': 'post',
            url: id > 0 ? editUrl + id : addUrl,
            submit: function (obj, ev) {
            },
            success_key: 'code',
            success_value: ['1'],
            success_func: function (data) {
                hideAllBox();
                if(id > 0) {
                    msgTis('修改成功');
                } else {
                    msgTis('添加成功');
                }
                refreshCaiji();
            },
            err_func: function (data) {
                msg(data.msg);
            },
            value: makeTable({
                'class': 'edit_table',
                data_from: dataFromObj,
                tr_1: [
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '采集名'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{title}',
                                    name: 'row[title]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '开启https'
                            }, {
                                'class': 'td_main',
                                value: makeSwitch({
                                    name: 'row[usehttps]',
                                    value: '{usehttps}',
                                    value_key: 'value', //默认data的值的键名
                                    text_key: 'text', //默认data的文本的键名
                                    item: [{
                                        value: 1,
                                        text: '开'
                                    },{
                                        value: 0,
                                        text: '关'
                                    }]
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '作者'
                            }, {
                                'class': 'td_main',
                                value: [makeInput({
                                    value: '{author}',
                                    name: 'row[author]'
                                })]
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '采集网址'
                            }, {
                                'class': 'td_main',
                                value: [makeInput({
                                    value: '{url_reg}',
                                    name: 'row[url_reg]'
                                }),makeSpan({
                                    value: '页码用(page)替换'
                                })]
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '设置来路网址'
                            }, {
                                'class': 'td_main',
                                value: [makeInput({
                                    value: '{fromurl}',
                                    name: 'row[fromurl]'
                                })]
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '采集开始符'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{from_str}',
                                    name: 'row[from_str]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '采集截止符'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{end_str}',
                                    name: 'row[end_str]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '移除分割符1'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{remove_str1}',
                                    name: 'row[remove_str1]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '移除分割符2'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{remove_str2}',
                                    name: 'row[remove_str2]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '链接分割符'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{link_str1}',
                                    name: 'row[link_str1]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '移除分割符2'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{link_str2}',
                                    name: 'row[link_str2]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '子页标题str1'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{son_tit1}',
                                    name: 'row[son_tit1]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '子页标题str2'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{son_tit2}',
                                    name: 'row[son_tit2]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '子页文本分割符1'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{son_textstr1}',
                                    name: 'row[son_textstr1]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '子页文本分割符2'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{son_textstr2}',
                                    name: 'row[son_textstr2]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '子页链接分割符1'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{son_morelink_str1}',
                                    name: 'row[son_morelink_str1]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '子页链接分割符2'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{son_morelink_str2}',
                                    name: 'row[son_morelink_str2]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                'valign': 'top',
                                value: '采集到子页'
                            }, {
                                'class': 'td_main',
                                value: makeInput({
                                    value: '{topage}',
                                    name: 'row[topage]'
                                })
                            }
                        ]
                    },
                    {
                        td: [
                            {
                                'class': 'td_em',
                                value: ''
                            }, {
                                'class': 'td_main',
                                value: [
                                    makeBtn({
                                        'class': 'btn btn-success',
                                        'margin_left': '100px',
                                        'value': id>0 ? '编辑' : '添加',
                                        'type': 'submit'
                                    })
                                ]
                            }]
                    }
                ]
            })
        });
        msgWin(id >0 ? '编辑采集':'添加采集', box, 520, 1);
    }

</script>