@charset "utf-8";
body {
    background-color: #fff;
}
.main_wrap {
    width: 900px;
    margin: 0 auto;
}
.main_wrap .left_types {
    width: 230px;
    float: left;
    border-right: 1px solid #aaa;
    box-shadow: 1px 0 3px #aaa;
}
.main_wrap .left_types .top_title {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
}
.main_wrap .left_types .photo_types {
    border-top: 1px solid #e5e5e5;
}
.main_wrap .left_types ul li .btn {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../../images/tool/photo_icon.png) no-repeat;
    line-height: 0;
    margin: 0;
    outline: 0 none;
    vertical-align: middle;
}
.main_wrap .left_types ul li .btn.switch {
    width: 18px;
    height: 18px;
}
.main_wrap .left_types ul li .btn.root_open {
    background-position: -92px -54px;
}

.main_wrap .left_types ul li .btn.icon_open {
    background-position: -110px -16px;
    margin-right: 2px;
    vertical-align: top;
}
.main_wrap #right_wrap {
    float: left;
    width: 668px;
}
.main_wrap #right_wrap .right_content {
    margin-left: 5px;
}