<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<body>
{include file="common/header" /}
{include file="common/banner" currentBanner='' /}
<div class="index_body">
    <div class="container">
        {include file="songs/songs_public_top" keyword='' t_='2' /}
        <div class="inner">
            <div class="input-group">
                <input type="hidden" class="hide_flag" name="t_" value="lr" />
                <span id="append_input" data-url="/adppp/juzi/api/index/ajax_search?t=lr" data-link="/juzi/read/uri/{uri}" data-holder="输入歌曲名字" data-liauther="{singer}" data-liname="{title}">
                    <input class="form-control" />
                </span>
                <div class="input-group-btn">
                    <button class="btn btn-success">搜索</button>
                </div>
            </div>
            <div class="panel panel-default" style="margin-top: 100px; text-align: left; padding: 10px 0 10px 10px;">
                  最新歌曲：
                <?php
                if($lastSongs) {
                ?>
                <a href="/juzi/songs/uri/<?=$lastSongs['uri'];?>" target="_blank"><?=$lastSongs['title'];?></a> —— <?=$lastSongs['authorName'];?>
                <?php
                }
                ?>
                <a href="/juzi/songs/news" target="_self" class="label label-success">More</a>
            </div>
            <span class="count_detail">共收录<?=$totalSongs?>首歌曲</span>
        </div>
    </div>
</div>
{include file="common/footer" /}
</body>
</html>