<style>
    #editTypeBox .editorType {
        display: inline-block;
        margin-right: 12px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
        padding-top: 7px;
    }
    #editTypeBox .col-sm-3 {
        max-width: 100px;
        white-space: nowrap;
    }
    #editTypeBox .editorType  input {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: sub;
    }
</style>

<form id="editTypeBox" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">一级分类</label>
        <div class="col-sm-9 form-inline">
            <select type="text" class="form-control" id="set_typeid" name="pid" >
                <option value="0">无</option>
                <?php
                foreach($allTypes as  $n=>$v ) {
                ?>
                <option value="<?=$v['id'];?>" <?=$v['selected'];?>><?=$v['title'];?></option>
                <?php
                }?>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">分类名</label>
        <div class="col-sm-9 form-inline">
            <input type="text" class="form-control" name="title" autocomplete="off" value="<?=$info['title'];?>" />  <span class="red">*</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label"> </label>
        <div class="col-sm-9 form-inline">
            <button type="submit" class="btn btn-info">保存</button>
        </div>
    </div>
</form>
<script>
    (function () {
        'use strict';
        require(['jquery', 'lrBox', 'front'], function ($, lrBox, front) {
            var editId = parseInt("<?=$info['id'];?>");
            var addForm = $("#editTypeBox");
            front.formSubmitEven(addForm, {
                before: function (res) {
                    lrBox.loading(true);
                    return res;
                },
                url: '/type/editapi/id/'+ editId,
                successKey: 'code',
                successVal: 1,
                successFunc: function (res) {
                    lrBox.noLoading();
                    lrBox.hideNewBox();
                    lrBox.msgTsf(res.msg);
                    if(window.renewEditArticleType) {
                        window.renewEditArticleType();
                    }
                },
                errorFunc: function (res) {
                    lrBox.noLoading();
                    lrBox.msgTisf(res.msg);
                }
            });
            return {};
        });
    })();

</script>