<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="widget-body no-padding">
                <div id="show_search_form"></div>
                <div id="toolbar" class="toolbar">
                    <?=build_toolbar([
                        [
                        'power'=>'index/index',
                    'title'=>'刷新',
                    'icon'=>'fa fa-refresh',
                    'class'=>'btn btn-primary btn-refresh',
                    'click'=>'refreshCaiji()'
                    ],
                    [
                    'power'=>'type/index/add',
                    'title'=>'采集热门',
                    'class'=>'btn btn-info btn-add',
                    'click'=>'caijiHot()'
                    ],
                    [
                    'power'=>'type/index/add',
                    'title'=>'采集飚升棒',
                    'class'=>'btn btn-info btn-add',
                    'click'=>'caijiBiaosheng()'
                    ],
                    [
                    'title'=>'停止',
                    'class'=>'btn btn-info btn-warning',
                    'click'=>'cmdTtop = true;hideAllBox();'
                    ]
                    ]);?>
                </div>
                <div id="list_result" style="color: #82afc0"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var indexUrl = '/adppp/songs/caiji/index'; 
    var delUrl = '/adppp/songs/caiji/del/id/';
    var caijiUrl = '/adppp/songs/caiji/begincaiji/id/';
    var copyUrl = '/adppp/songs/caiji/copycaiji/id/'; 
    var caijiHotUrl = '/adppp/songs/caiji/caijihot/';
    var caijiBiaoshengUrl = '/adppp/songs/caiji/caijibiaosheng/';
    var cmdTtop = false;
    //分页框
    var pageObj = makePage({
        click: function (obj, newPage) {
            topSearchForm.findName("page").val(newPage);
            searchFormGo(topSearchForm, parentListTable, pageObj, false);
        }
    });
    //搜索框
    var topSearchForm = makeForm({
        url: indexUrl,
        submit: function(form_, e) {
            console.log(e);
            e.preventDefault();
            topSearchForm.findName("page").val(1);
            searchFormGo(topSearchForm, parentListTable, pageObj);
            return false;
        },
        value: makeDiv({
            'class': 'col-xs-12 col-sm-12 col-md-12 col-lg-12',
            value: [
                makeInput({
                    value: 1,
                    type: 'hidden',
                    name: 'page'
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: [
                        makeSpan({
                            'class': 'control-label col-xs-4',
                            value: '采集名:'
                        }), makeSpan({
                            'class': 'col-xs-8',
                            value: makeInput({
                                'name': 'title',
                                value: '',
                                clear: true
                            })
                        })
                    ]
                }),
                makeSpan({
                    'class': 'form-group col-md-3',
                    value: makeBtn({
                        'class': 'btn btn-success',
                        value: '搜索',
                        type: 'submit'
                    })
                }),
            ]
        })
    });
    $('#show_search_form').append(topSearchForm);
    var parentListTable = makeTable({
        'class': 'table table-striped table-bordered table-hover',
        tr_top: [
            {
                th: [
                    { value: 'ID'  },
                    { value: '采集名' },
                    { value: 'url' },
                    { value: '数量'},
                    { value: '页码'},
                    { value: '创建时间'},
                    { value: '操作'}
                ]
            }
        ],
        tr_default: [
            {
                show: '{{this.length}==0}',
                td: [
                    {
                        colspan: '10',
                        value: '没有搜索结果'
                    }
                ]
            }
        ],
        tr: [
            {
                show: '{"{id}" !=""}',
                td: [
                    {
                        value: '{id}'
                    },
                    {
                        value: '{title}'
                    },
                    {
                        value: '{url_reg}'
                    },
                    {
                        value: '{num}'
                    },
                    {
                        value: '{topage}'
                    },
                    {
                        value: '{noSecond[run]({createtime})}'
                    },
                    {
                        value: [
                            makeBtn({
                                'class': 'btn btn-xs btn-success',
                                value: '复制',
                                click: "copyCaiji\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-info',
                                value: '编辑',
                                margin_left: '5px',
                                click: "modifyCaiji\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-warning',
                                value: '开始采集',
                                margin_left: '5px',
                                click: "beginCaiji\('{id}'\)"
                            }),
                            makeBtn({
                                'class': 'btn btn-xs btn-danger',
                                value: '删除',
                                margin_left: '5px',
                                click: "delCaiji\('{id}'\)"
                            })
                        ]
                    }
                ]
            }
        ],
        data_from: {
            func: function (tableObj) {
                searchFormGo(topSearchForm, tableObj, pageObj);
            }
        }
    });
    $('#list_result').append(parentListTable).append(pageObj);

    //刷新列表
    function refreshCaiji() {
        searchFormGo(topSearchForm, parentListTable, pageObj);
    }
    //复制采集
    function copyCaiji(id) {
        postAndDone({
            url: copyUrl + id,
            success_key: 'code',
            success_value: '1',
            success_func: function (reg) {
                noLoading();
                refreshCaiji();
                msgTisf(reg.msg);
                goCaiji();
            },
            err_func: function (data) {
                noLoading();
                msg(data.msg);
            }
        })
    }
    //开始采集
    function beginCaiji(id) {
        msgConfirm('您是否确认要开始此采集？', '确定', '取消', function () {
            cmdTtop = false;
            hideNewBox();
            loading(false);
            var goCaiji = function() {
                postAndDone({
                    url: caijiUrl + id,
                    success_key: 'code',
                    success_value: '1',
                    success_func: function (reg) {
                        noLoading();
                        refreshCaiji();
                        msgTisf(reg.msg);
                        if(!cmdTtop) goCaiji();
                    },
                    err_func: function (data) {
                        noLoading();
                        if(!cmdTtop) goCaiji();
                    }
                })
            };
            goCaiji();
        });
    }

    //删除采集
    function delCaiji(id) {
        msgConfirm('您是否确认要删除此采集？', '确定', '取消', function () {
            hideNewBox();
            postAndDone({
                url: delUrl + id,
                success_key: 'code',
                success_value: '1',
                success_func: function () {
                    refreshCaiji();
                    msgTis('删除成功');
                },
                err_func: function (data) {
                    msgTis(data.msg);
                }
            })
        });
    }  

    //采集热门
    function caijiHot() {
        cmdTtop = false;
        hideNewBox();
        loading(false);
        var goCaiji = function() {
            postAndDone({
                url: caijiHotUrl,
                success_key: 'code',
                success_value: '1',
                success_func: function (reg) {
                    noLoading();
                    msgTisf(reg.msg);
                    if(!cmdTtop) goCaiji();
                },
                err_func: function (data) {
                    noLoading();
                    msg(data.msg);
                }
            })
        };
        goCaiji();
    }
</script>