<style>
    #editTypeBox .editorType {
        display: inline-block;
        margin-right: 12px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
        padding-top: 7px;
    }
    #editTypeBox .col-sm-3 {
        max-width: 100px;
        white-space: nowrap;
    }
    #editTypeBox .editorType  input {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: sub;
    }
</style>

<form id="editTypeBox" class="form-horizontal">
    <div class="form-group">
        <label for="set_typeid" class="col-sm-3 control-label">一级分类</label>
        <div class="col-sm-9 form-inline">
            <select type="text" class="form-control" id="set_typeid" name="pid" >
                <option value="0">无</option>
                <?php
                foreach($allTypes as  $n=>$v ) {
                ?>
                <option value="<?=$v['id'];?>" <?=$v['selected'];?>><?=$v['title'];?></option>
                <?php
                }?>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="set_typeid" class="col-sm-3 control-label">分类名</label>
        <div class="col-sm-9 form-inline">
            <input type="text" class="form-control" name="title" autocomplete="off" value="<?=$info['title'];?>" />  <span class="red">*</span>
        </div>
    </div>
    <?php
    if($needAns) {
    ?>
        <div class="form-group">
            <label for="set_typeid" class="col-sm-3 control-label">暗号</label>
            <div class="col-sm-9 form-inline">
                <span class="text-info" style="display:inline-block;padding-top: 7px;"><?=$info['ask'];?></span>
            </div>
        </div>
        <div class="form-group">
            <label for="set_typeid" class="col-sm-3 control-label">校验答案</label>
            <div class="col-sm-9 form-inline">
                <input type="text" class="form-control" name="ansAsk"  autocomplete="off" /> (<i style="cursor: pointer;text-decoration: underline;" title="因为之前设置过暗号，每次修改必须先回答。">必填</i>)
            </div>
        </div>
        <div class="form-group">
            <label for="set_typeid" class="col-sm-3 control-label">设置新暗号</label>
            <div class="col-sm-9 form-inline">
                <input type="text" class="form-control" name="ask" autocomplete="off" value=""  />
                (<i style="cursor: pointer;text-decoration: underline;" title="留空则将该分类的暗号清空。">留空则清空</i>)
            </div>
        </div>
        <div class="form-group">
            <label for="set_typeid" class="col-sm-3 control-label">设置新答案</label>
            <div class="col-sm-9 form-inline">
                <input type="text" class="form-control" name="ans""  autocomplete="off" /> (<i style="cursor: pointer;text-decoration: underline;" title="留空则将该分类的暗号的答案清空。">留空则清空</i>)
            </div>
        </div>
    <?php
    } else {
    ?>
    <div class="form-group">
        <label for="set_typeid" class="col-sm-3 control-label">设置暗号</label>
        <div class="col-sm-9 form-inline">
            <input type="text" class="form-control" name="ask" autocomplete="off" value="<?=$info['ask'];?>"  />
            (<i style="cursor: pointer;text-decoration: underline;" title="您可以对分类配置特定的暗号。">可留空</i>)
        </div>
    </div>
    <div class="form-group">
        <label for="set_typeid" class="col-sm-3 control-label">设置答案</label>
        <div class="col-sm-9 form-inline">
            <input type="text" class="form-control" name="ans"  autocomplete="off" /> (<i style="cursor: pointer;text-decoration: underline;" title="一旦忘记，分类内所有内容都无法再找回，请谨慎操作。">可留空</i>)
        </div>
    </div>
    <?php
    }
    ?>


    <div class="form-group">
        <label for="set_typeid" class="col-sm-3 control-label"> </label>
        <div class="col-sm-9 form-inline">
            <button type="submit" class="btn btn-info">保存</button>
        </div>
    </div>
</form>
<script>
    (function () {
        'use strict';
        require(['jquery', 'lrBox', 'front'], function ($, lrBox, front) {
            var editId = parseInt("<?=$info['id'];?>");
            var addForm = $("#editTypeBox");
            front.formSubmitEven(addForm, {
                before: function (res) {
                    if(!front.isUndef(res['ask']) && res['ask']) {
                        res['ask'] = front.aesEncode(res['ask']);
                    }
                    if(!front.isUndef(res['ans']) && res['ans']) {
                        res['ans'] = front.md5(res['ans']);
                    }
                    //校验旧答案
                    if(!front.isUndef(res['ansAsk']) && res['ansAsk']) {
                        res['ansAsk'] = front.md5(res['ansAsk']);
                    }
                    lrBox.loading(true);
                    return res;
                },
                url: '/type/editApi/id/'+ editId,
                successKey: 'code',
                successVal: 1,
                successFunc: function (res) {
                    lrBox.noLoading();
                    lrBox.hideNewBox();
                    lrBox.msgTsf(res.msg);
                    if(window.renewEditArticleType) {
                        window.renewEditArticleType();
                    }
                },
                errorFunc: function (res) {
                    lrBox.noLoading();
                    lrBox.msgTisf(res.msg);
                }
            });
            return {};
        });
    })();

</script>