<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
{include  file="common/banner" currentBanner='news' /}
<div class="front_body container">
    <div class="panel panel-info">
        <div class="panel-heading" style="position: relative;">
            最新句子
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <?php
                foreach($list as $v) {
                ?>
                <li class="list-group-item">
                    <a href="/juzi/read/uri/<?=$v['uri']?>" target="_blank" title="作者:<?=$v['authorName']?> <?=$v['createtime']?>" ><?=$v['content']?></a>
                    ——<a href="<?=$v['authorLink']?>"><?=$v['authorName']?></a>
                </li>
                <?php
                }
                ?>
            </ul>
            <?php
            if($nullStr) {
            ?>
            <div class="alert alert-warning">
                <?=$nullStr?>
            </div>
            <?php
            }
            ?>
            <?=$pageMenu?>
        </div>
    </div>
</div>
{include file="common/footer" /}
</body>
</html>