<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
<link href="__CDN__/assets/css/juzi/gushi.css" rel="stylesheet">
{include  file="common/banner" currentBanner='geci' /}
<div class="front_body container">
    <div class="well alert-info">
        <div class="input-group filter_box">
           <form action="/juzi/geci/index/" method="get" class="input-group">
               <input value="<?=$keyword?>" name="keyword" class="form-control" />
               <span class="input-group-btn">
                    <button class="btn btn-success">搜索</button>
               </span>
           </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading" style="position: relative;">
            <?=$filterTitle?>：
        </div>
        <div class="panel-body">
            <div style="text-align: right;">
                <span style="display: inline-block; vertical-align: bottom;">分享:</span>
                <div class="bdsharebuttonbox" style="display: inline-block; vertical-align: bottom;">
                    <a href="#" class="bds_more" data-cmd="more"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                    <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                    <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                    <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                    <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
                </div>
            </div>
            <ul class="list-group">
                <?php
                foreach($list as $v) {
                ?>
                <li class="list-group-item">
                    <a href="/juzi/geci/main/<?=$v['id']?>" target="_blank"><?=$v['title']?></a>
                    ——<a href="<?=$v['authorLink']?>" target="_blank"><?=$v['authorName']?></a>
                </li>
                <?php
                }
                ?>
            </ul>
            <?php
            if($nullStr) {
            ?>
            <div class="alert alert-warning">
                <?=$nullStr?>
            </div>
            <?php
            }
            ?>
            <?=$pageMenu?>
        </div>
    </div>
</div>

<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    }, "share": {}
};
with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<script>
    $(function () {
        var author = '<?=$author?>';
        if(author) $('#filter_author_box').find("a[data='"+author+"']").addClass('active');
    })


</script>
{include file="common/footer" /}
</body>
</html>