.uri_body {
    max-width: 860px;
    margin: 0 auto;
}
.uri_body .inner {
    padding:  0 10px;
    line-height: 180%;
}

.uri_body .panel-body {
    line-height: 180%;
}
.uri_body .panel-body h4 {
    background-color: #fafafa;
    padding: 5px 0 5px 10px;
}
.uri_body .panel-body .item {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #fff;
    height: 130px;
    padding-top: 10px;
}
.uri_body .panel-body .item .avatar {
    display: block;
}
.uri_body .panel-body .item .avatar img {
    cursor: pointer;
}
.uri_body .panel-body .title {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: block;
    margin-top: 5px;
}
.uri_body .share_label {
    display: inline-block;
    vertical-align: text-bottom;
}
.uri_body .share_icons {
    display: inline-block;
    vertical-align: text-bottom;
}
.uri_body #tag_box input {
    margin-right: 5px;
}