<style>
    /* 附件管理 */
    .manage_files {
        background-color: #fff;
    }
    .manage_files ul li {
        padding: 5px 0;
        display: inline-block;
        width: 25%;
    }
    .manage_files ul li .cover {
        margin: 0 5px;
        overflow: hidden;
        border: 1px solid #dedede;
        cursor: pointer;
        display: block;
        height: 56px;
    }
    .manage_files ul li .cover img {
        width: 100%;
        height: 100%;
    }
    .manage_files ul li .title {
        margin: 0 5px;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
    .manage_files ul li .title input {
        width: 100%;
        border: 1px solid #fff;
        text-indent: 2px;
    }
    .manage_files ul li .title input:hover {
        border: 1px solid #ccc;
    }
    .manage_files ul li .operat {
        display: block;
        padding-top: 5px;
    }
    .manage_files ul li .operat .item {
        width: 33.33%;
        display: inline-block;
        text-align: center;
        float: left;
    }
    .manage_files ul li .operat .glyphicon {
        color: #bbb;
    }
    .manage_files ul li .operat .glyphicon:hover {
        color: #999;
    }
    #modify_article_form .lr_editor {
        width: 555px;
        height: 120px;
    }
</style>
<div id="modify_article_form"></div>
<script>
    require(['jquery', 'lrEle', 'lrBox', 'lrBase', 'webuploader' , '/assets/libs/editor/tui-editor/toastui-jquery-editor.min.js'],
        function ($, lrEle, lrBox, lrBase, webuploader, tuiEditor) {
        var typeSelect = lrEle.makeSelect({
            name: 'rows[typeid]',
            'text': '选择分类',
            value: '0',
            value_key: 'id',
            title_key: 'title',
            menu: {
                width: '400px',
                data_from: {
                    url: '/user/article/getAllTypes',
                    success_key: 'code',
                    success_value: '1',
                    data_key: 'data.list'
                }
            },
            li: {
                value: '{title}'
            }
        });
        $('#modify_article_form').append(lrEle.makeForm({
            'url': '/user/article/add',
            data_from: {
            },
            name: 'modifyForm',
            success_key: 'code',
            success_value: '1',
            success_func: function (e) {
                lrBox.hideAllBox();
                window.reFreshArticle();
                lrBox.msgTis(e.msg);
            },
            err_func: function (e) {
                lrBox.msgTis(e.msg);
            },
            value: [
                lrEle.makeTable({
                    tr_1: [
                        {
                            td: [
                                {
                                    width: '100px',
                                    value: lrEle.makeSpan({value: '文章标题'})
                                },{
                                    value: lrEle.makeInput({name:'rows[title]', width: '455px', value: ''})
                                }
                            ]
                        },
                        {
                            td: [
                                {
                                    padding_top: '15px',
                                    value: lrEle.makeSpan({value: '文章分类'})
                                },{
                                    padding_top: '15px',
                                    value:  [
                                        typeSelect,
                                        lrEle.makeBtn({value: '管理分类', 'class': 'btn btn-default', margin_left: '5px', click: function () {
                                                lrBox.msgWin('文章分类管理','[url]/user/article/manageAllTypes', 580, 1);
                                            }})
                                    ]
                                }
                            ]
                        },
                        {
                            td: [
                                {
                                    padding_top: '15px',
                                    valign: 'top',
                                    value: lrEle.makeSpan({value: '正文'})
                                },{
                                    padding_top: '15px',
                                    value: lrEle.makeDiv({
                                        id:'article_editor_parent',
                                        value: lrEle.makeEditor({
                                            name:'rows[content]',
                                            'class': 'editor',
                                            value: '',
                                            width: '100%',
                                            height: '450px',
                                            type: 'tuiEditor',
                                            editorObj: 'editArticleEditor',
                                            editorOpt: {
                                                obj: tuiEditor,
                                                height: '500px',
                                                language: 'en-US',
                                                previewStyle: 'vertical', //tab vertical
                                                useCommandShortcut: true,
                                                useDefaultHTMLSanitizer: true,
                                                usageStatistics: false,
                                                hideModeSwitch: true,
                                                toolbarItems: [
                                                    'heading',
                                                    'bold',
                                                    'italic',
                                                    'strike',
                                                    'divider',
                                                    'hr',
                                                    'quote',
                                                    'divider',
                                                    'ul',
                                                    'ol',
                                                    'task',
                                                    'indent',
                                                    'outdent',
                                                    'divider',
                                                    'table',
                                                    'image',
                                                    'link',
                                                    'divider',
                                                    'code',
                                                    'codeblock'
                                                ]
                                            }
                                        })
                                    })
                                }
                            ]
                        },
                        {
                            td: [
                                {
                                    padding_top: '10px',
                                    value: lrEle.makeSpan({value: '附件'})
                                },{
                                    padding_top: '10px',
                                    value: lrEle.makeDiv({id: 'manage_article_fujian', 'class': 'manage_files', value: ''})
                                }
                            ]
                        },
                        {
                            td: [{}, {
                                padding_top: '10px',
                                value: lrEle.makeBtn({type:'submit', value:'保存', 'class': 'btn btn-info'})
                            }]
                        }
                    ]
                })
            ]
        })
        );
        //重新加载分类
        function refreshArticlesTypes() {
            typeSelect.menu.renewData();
        }
    });

</script>
