<style>
    /* 附件管理 */
    .manage_files {
        background-color: #fff;
    }

    .manage_files ul li {
        padding: 5px 0;
        display: inline-block;
        width: 25%;
    }

    .manage_files ul li .cover {
        margin: 0 5px;
        overflow: hidden;
        border: 1px solid #dedede;
        cursor: pointer;
        display: block;
        height: 56px;
    }

    .manage_files ul li .cover img {
        width: 100%;
        height: 100%;
    }

    .manage_files ul li .title {
        margin: 0 5px;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .manage_files ul li .title input {
        width: 100%;
        border: 1px solid #fff;
        text-indent: 2px;
    }

    .manage_files ul li .title input:hover {
        border: 1px solid #ccc;
    }

    .manage_files ul li .operat {
        display: block;
        padding-top: 5px;
    }

    .manage_files ul li .operat .item {
        width: 33.33%;
        display: inline-block;
        text-align: center;
        float: left;
    }

    .manage_files ul li .operat .glyphicon {
        color: #bbb;
    }

    .manage_files ul li .operat .glyphicon:hover {
        color: #999;
    }

    #modify_article_form .lr_editor {
        width: 555px;
        height: 120px;
    }
</style>
<form id="modify_article_form" type="post">
    <table width="100%" border="0">
        <tbody>
        <tr>
            <td style="width:100px"><span>标题</span></td>
            <td>
                <input name="rows[title]" type="text" class="form-control" autocomplete="off" value="<?=$info['title']?>" >
            </td>
        </tr>
        <tr>
            <td style="padding-top:15px"><span>分类</span></td>
            <td style="padding-top:15px">
                <button class="btn btn-default" style="margin-left:5px">刷新</button>
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding-top:15px"><span>正文</span></td>
            <td style="padding-top:15px">
                <textarea name="rows[content]" class="editEditor" style="display: none; box-sizing: border-box;"><?=$info['content']?></textarea>
                <div id="showEditor">
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px"><span>附件</span></td>
            <td style="padding-top:10px">
                <div id="manage_article_fujian" class="manage_files">
                    <ul>
                        <li></li>
                    </ul>
                    <div class="upload_btn_box">
                        <button class="btn alert-info"><em class="glyphicon glyphicon-picture"></em> 上传文件</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top:10px">
                <button type="submit" class="btn btn-info">保存</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script>
    require(['jquery', 'lrEle', 'lrBox', 'front', 'webuploader'],
        function ($, lrEle, lrBox, front, webuploader) {
            var articleSid = parseInt('<?=$id?>');
            var writeForm = $('#modify_article_form');
            var editEditor = writeForm.find('.editEditor');
            var showEditor = writeForm.find('#showEditor');
            var editUrl = '/user/article/edit/id/' + articleSid;
            window.currentPushingContent = editEditor.val();
            var innerEditor = $('<iframe style="width: 100%; height: 700px;border: 0;overflow:hidden;" src="/tool/markdown.html"></iframe>');
            showEditor.append(innerEditor);
            var iframe = innerEditor[0];

            //当前编辑器value的get/set方法
            var currentGetEditorValFunc = function () {

            };
            var currentEditorValFunc = function () {

            };

            var readyEven = function () {
                currentGetEditorValFunc = function () {
                    return window.mdEditorGetContent();
                };
                currentEditorValFunc = function (newVal) {
                    window.mdEditorSetContent(newVal);
                };
            };
            if (iframe.attachEvent) {
                iframe.attachEvent("onload", function() {
                    readyEven(); //iframe加载完成后你需要进行的操作
                });
            } else {
                iframe.onload = function() {
                    readyEven(); //iframe加载完成后你需要进行的操作
                };
            }

            //重新加载分类
            function refreshArticlesTypes() {

            }
            //附件翻页
            function articleFujianGotoPage(page) {
                reLoadThisArticleFujian(page);
            }

            //加载当前问题的附件
            function reLoadThisArticleFujian(page) {
                page = page || 1;
                currentFilePage = page;
                var form = $('#modify_article_form');
                lrEle.rePost("/user/articlefujian/load_article_fujians?page=" + page, {sid: articleSid}, function (res) {
                    if (res.code != 1) {
                        lrBox.msg(res.msg);
                    } else {
                        var responses = res.data;
                        var filesData = responses.fileDatas;
                        console.log('filesData', filesData);
                        var filesPageMenu = lrEle.makePage(responses.pageInfo);
                        var fileHtml = '', tmpFileFid, tmpFileName, tmpFileSize, tmpFileGeshi;
                        fileHtml += "<ul>";
                        var fileIcon = '';
                        if (filesData.length > 0) {
                            $.each(filesData, function (n, v) {
                                tmpFileFid = v['id'];
                                tmpFileName = v['filename'];
                                tmpFileGeshi = v['geshi'];
                                tmpFileSize = v['filesize'];
                                if ($.inArray(tmpFileGeshi.toLowerCase(), ['gif', 'png', 'jpg', 'jpeg']) != -1) {
                                    fileIcon = "<img src=\"" + v['fileurl'] + "\" width='100%' onclick=\"enterThisImage('" + v['fileurl'] + "');\" title='插入使用' />";
                                } else {
                                    fileIcon = "<span onclick=\"enterThisFile('" + v['fileurl'] + "');\">插入使用</span>";
                                }
                                fileHtml += "<li>" +
                                    "<span class='cover' title='格式:" + tmpFileGeshi + ",大小:" + tmpFileSize + "'> " +
                                    fileIcon +
                                    "</span>" +
                                    "<span class='operat'> " +
                                    "   <span class='item'><a href='javascript: void(0);' onclick=\"moveThisFile('" + tmpFileFid + "', 'l');\" target='_self' title='向左移动'><i class='glyphicon glyphicon-arrow-left'></i></a></span>" +
                                    "   <span class='item'><a href='javascript: void(0);' onclick=\"delThisFile('" + tmpFileFid + "');\" target='_self' title='删除图片'><i class='glyphicon glyphicon-remove'></i></a></span>" +
                                    "   <span class='item'><a href='javascript: void(0);' onclick=\"moveThisFile('" + tmpFileFid + "', 'r');\" target='_self' title='向左移动'><i class='glyphicon glyphicon-arrow-right'></i></a></span>" +
                                    "</span>" +
                                    "</li>";
                            });
                        } else {
                            fileHtml += "<li> </li>";
                        }

                        fileHtml += "</ul>";
                        var uploadBtn = lrEle.makeBtn({
                            'class': 'btn alert-info',
                            value: '<em class="glyphicon glyphicon-picture"></em> 上传文件',
                            click: function () {
                                var uploadForm = batchUploadForm({
                                    'url': '/user/articlefujian/upload_files',
                                    'post': {
                                        'aid': articleSid,
                                        'save_path': '<?=$savePath?>',
                                        'path_safe_hash': '<?=$upload_safe_code?>',
                                    },
                                    'one_finish': function () {

                                    },
                                    'all_finish': function () {
                                        hideNewBox();
                                        lrBox.msgTis('上传完成');
                                        reLoadThisArticleFujian();
                                    },
                                    'accept': {
                                        title: 'file',
                                        extensions: 'gif,jpg,jpeg,bmp,png,txt,html',
                                        mimeTypes: 'image/jpg,image/jpeg,image/png,txt/plain'
                                    }
                                });
                                lrBox.msgView('上传文件', uploadForm, 820, 10, false);
                            }
                        });
                        form.find('#manage_article_fujian').html(fileHtml).append([
                            filesPageMenu,
                            lrEle.makeDiv({'class': 'upload_btn_box', value: uploadBtn})
                        ]);
                    }
                });
            }

            //移动附件
            function moveThisFile(f_id, direction) {
                lrBox.loadingSvg();
                lrEle.postAndDone({
                    success_value: '1',
                    success_key: 'code',
                    post_url: '/user/articlefujian/move_post_fujian',
                    post_data: {id: f_id, direction: direction},
                    success_func: function () {
                        lrBox.noLoading();
                        reLoadThisArticleFujian();
                    },
                    error_func: function (res) {
                        lrBox.noLoading();
                        lrBox.msgTisf(res.msg);
                    },
                });
            }

            //将附件插入到内容
            function enterThisFile(url) {
                var pushHtml = "[" + url + "](" + url + ")";
                editorObj.editArticleEditor.insertValue(pushHtml);
            }

            //将图片插入到内容
            function enterThisImage(url) {
                var pushHtml = "![](" + url + ")";
                editorObj.editArticleEditor.insertValue(pushHtml);
            }

            //删除附件
            function delThisFile(code) {
                lrBox.loadingSvg();
                lrEle.postAndDone({
                    success_value: '1',
                    success_key: 'code',
                    post_url: '/user/articlefujian/remove_article_fujians',
                    post_data: {fid: code},
                    success_func: function () {
                        lrBox.noLoading();
                        reLoadThisArticleFujian();
                    },
                    error_func: function (res) {
                        lrBox.noLoading();
                        lrBox.msgTisf(res.msg);
                    },
                });
            }


            writeForm.on('submit', function (e) {
                e.preventDefault();
                var data_ = writeForm.serializeArray();
                var pData = {};
                data_.map(function (v, n) {
                    if (!front.isUndef(pData[v.name])) {
                        if ($.isArray(pData[v.name])) {
                            pData[v.name].push(v.value);
                        } else {
                            pData[v.name] = [pData[v.name], v.value];
                        }
                    } else {
                        pData[v.name] = v.value;
                    }
                });
                var content = currentGetEditorValFunc();
                if(content===undefined) {
                    console.log('内容获取失败！');
                    return;
                }
                lrBox.loading(true);
                front.postAndDone({
                    url: editUrl,
                    data: pData,
                    successKey: 'code',
                    successVal: 1,
                    successFunc: function (res) {
                        lrBox.noLoading();
                        lrBox.msgTisf(res.msg);
                    },
                    errorFunc: function (res) {
                        lrBox.noLoading();
                        lrBox.msgTisf(res.msg);
                    }
                });
            });

            reLoadThisArticleFujian();//加载附件
        });
</script>
