<div id="all_article_type_box"></div>
<script type="text/javascript">
    $('#all_article_type_box').append([
        makeBtn({
            value: "添加分类",
            'class': 'btn btn-success btn-xs',
            'click': "addClass(0)"
        }),
        makeTrees({
            items: {
                'data': <?=$class_list?>,//分类数据
                'value_key': 'id',//值的下标【要求子数据必须也保持一致】
                'title_key': 'title',//标题的下标 【要求子数据必须也保持一致】
                'son_key': 'sons',//子数据的字段名
                'li': {
                    //单元格显示内容
                    value: [
                        makeBtn({
                            value: "编辑",
                            'class': 'btn btn-default btn-xs',
                            'style': 'margin-left: 10px;',
                            'click': "editClass('{id}')"
                        }),
                        makeBtn({
                            value: "删除",
                            'class': 'btn btn-danger btn-xs',
                            'style': 'margin-left: 10px;',
                            'click': "delClass('{id}')"
                        }),

                    ]
                }
            },
        })
    ]);
    //添加分类
    function addClass(parentId) {
        parentId = parentId || 0;
        msgWin('添加分类','[url]/user/article/add_type', 360, 100);
    }
    //编辑分类
    function editClass(id) {
        msgWin('编辑分类','[url]/user/article/edit_type?id='+ id, 500, 160);
    }
    //删除子分类
    function delClass(tid) {
        if (confirm('您确定要删除该分类吗？')){
            postAndDone({
                'post_url': '/user/article/del_type',
                'post_data': {id: tid},
                'success_value': '1',
                'success_func': function (res) {
                    msgTisf(res.msg);
                }
            });
        }
    }

</script>
