<!DOCTYPE html>
<html>
<head>
    {include file="common/meta" /}
    <link href="__CDN__/assets/css/juzi/uri.css" rel="stylesheet">
    <script src="/assets/js/juzi/uri.js"></script>
</head>
<base target="_blank" />
<body>
{include file="common/header" /}
{include file="common/banner" currentBanner='' /}
<style>
    .top_share_box {
        text-align: right;
    }
    .top_share_box .share_label,
    .top_share_box .share_icons {
        display: inline-block;
        vertical-align: bottom;
    }
</style>
<div class="uri_body container">
    <div class="panel panel-default">
        <div class="panel-heading">
            《<?=$articleInfo['title']?>》 小说:<a href="/juzi/from/id/<?=$articleInfo['fromid']?>"><?=$fromName?></a>
            , 作者: <?=$articleInfo['authorName'];?>
            , 人气: <?=$articleInfo['rq'];?>
        </div>
        <div class="top_share_box">
            <span class="share_label">分享:</span>
            <div class="bdsharebuttonbox share_icons">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
            </div>
        </div>
        <div class="panel-body"><?=$content?></div>
        <div class="panel-footer">
            <div class="row">
                <div class="rol-md-6">
                    <div class="inner">
                        <span class="share_label">分享:</span>
                        <div class="bdsharebuttonbox share_icons">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                            <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                            <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                            <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                            <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    }, "share": {}
};
with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
{include file="common/footer" /}
</body>
</html>