<style type="text/css">
<!--
.zfb_box {
    margin: -20px 0 0 -10px;
}
.zfb_box .zfb_desc {
    background-color: #f5f8fa;
    border-radius: 4px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.zfb_box .zfb_desc .top {
    border-bottom: 1px solid #fff;
    margin: 0 20px;
}
.zfb_box .zfb_desc .top h3 {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #d7dddd;
}
.zfb_box .zfb_desc .desc {
    line-height: 26px;
    padding: 10px 20px;
    color: #dd7a69;
}
.zfb_form {
    margin-top: 10px;
}
.zfb_form ul li {
    padding: 5px;
    line-height: 30px;
    height: 30px;
}
.zfb_form ul li em {
    width: 80px;
}
-->
</style>
<div class="right_list zfb_box">
    <div class="zfb_desc">
        <div class="top">
            <h3>支付宝绑定说明</h3>
        </div>
        <div class="desc">
            1、支付宝绑定需要与网站的真实姓名一致。<br />
            2、为保障您资金的安全，支付宝账号一旦绑定，将不允许自行修改，如需修改请联系客服。
        </div>
    </div>
    <div id="zfb_form" class="zfb_form">
    	<ul>
            <li>
                <em>真实姓名：</em> <?=$u_name?> <span class="em">&nbsp; [您这里的姓名必须与支付宝的姓名一致， 否则无法提现]</span>
                </li>
            <li>
                <em>支付宝：</em>
                <input id="zfb1" name="zfb1" type="text" class="input" style="width:200px;" value="<?=$zfb?>" maxlength="50" />
                <span id="old_zfb" style="display: none;"><?=$zfb?></span>
                <span class="em">&nbsp; [每个支付宝只能绑定一个账号]</span>
            </li>
            <li>
                <em>再输入一次：</em>
                <td><input id="zfb2" name="zfb2" class="input" style="width:200px;" type="text" value="" maxlength="50" /></td>
            </li>
            <li><?=$button?>
            </li>
        </ul>
    </div>
</div>


<script type="text/javascript">
    function submitEidt() {
        var form = $('#zfb_form');
        var oldZfb =  $.trim(form.find('#old_zfb').html());
        var zfb1 = $.trim(form.find('#zfb1').val());
        var zfb2 = $.trim(form.find('#zfb2').val());
        if(oldZfb.length > 0) {
            if (zfb1 || zfb2 ){
                msg('您已经绑定支付宝! 如需解绑请联系客服.', 4);
                return false;
            }
        }
        if (zfb1 == '' || zfb2 == ''){
            msg('请填写支付宝', 4);
            return false;
        }
        if (zfb1 != zfb2 ){
            msg('两次输入的支付宝不一致，请重新输入', 4);
            return false;
        }
        if (!confirm('支付宝绑定后将无法修改，支付宝是本站唯一支付途径，您确认已经核对无误吗？')){
            return false;
        }
        post("/?s=user&do=post_zfb&json=true",{
            zfb:zfb1
        },function(data){
            if(data.id != '0004') {
                if(data.info) data.msg += data.info;
                msg(data.msg, 4);
                if(data.id == '0000') {
                    loginIn();
                    return;
                }
            } else {
                hideAllbox();
                msg(data.msg, 1);
                return;
            }
        });
    }
</script>