<style type="text/css">
<!--
.chongzhi_form {
    margin: -20px 0 0 -10px;
}
.chongzhi_form .hint {
    line-height: 26px;
    padding: 10px 10px;
    background-color: #effef3;
    border-radius: 4px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.chongzhi_form .zfb_table {
    width: 100%;
}
.chongzhi_form td {
    padding: 5px 0 5px 10px;
}
.chongzhi_form .zfb_table .lab {
    width: 20%;
    color: #9c4739;
}
.chongzhi_form .fee_table {
    width: 100%;
}
-->
</style>
<div class="right_list chongzhi_form">
    <form name="alipayment" action="/?s=system/sub_chongzhi" method="post" target="_blank" id="rechareg_form">
        <input name="uid" type="hidden" value="<?=$userid?>" />
        <input name="username" type="hidden" value="<?=$username?>" />
        <input name="ordertitle" type="hidden" value="<?=$yongtu?>" />
        <input name="ordermemo" id="ordermemo" type="hidden" value="" />
        <input id="total" name="total" type="hidden" value="0" />
        <input name="sid" type="hidden" value="<?=$user_cookies_name?>" />
        <div class="hint">
            <b style="color: #d74c29;">充值须知：</b> <br />
            1.充值的手续费以支付宝收费为准，查看
            <a href="https://b.alipay.com/order/productDetail.htm?productId=2011060800327555&tabId=3#ps-tabinfo-hash" target="_blank" style="color: #0000ff;text-decoration: underline;">支付宝收费规则</a>
            .<br />
            2.充值统一每笔收取<span class="red">0.8%</span>的手续费,最低1元. <br />
            3.充值若出现问题，请保留付款凭证截图并及时与客服联系.<br />
            4.支付成功后,请等待页面自动跳转回平台以完成充值到账.

        </div>
        <table class="zfb_table">
            <tr>
                <td class="lab">充值途径：</td>
                <td valign="top">
                    <input id="chargetype" type="radio" value="1" checked="checked" />
                    <img src="/resource/pub/images/alipay.gif" title="支付宝即时到账" />

                </td>
            </tr>
            <tr>
                <td class="lab"><?=$GLOBALS['cfg_webname']?>官方账户：</td>
                <td>
                    <span style="color: #ff3c00;">支付宝：<?=$GLOBALS['cfg_company_alipay']?> [校验名：<?=$GLOBALS['cfg_company_zfb_name']?>]</span>
                </td>
            </tr>
             <tr>
                <td class="lab">充值金额：</td>
                <td><input id="money" name="money" type="text" class="input" value="<?=$money?>" onkeyup="countFee($(this));" onblur="countFee($(this));" maxlength="10" style="font-size:18px; width:80px;color:#CC0000;"/>
                    &nbsp;元
                <span id="recharge_gongshi" style="color: #ff3c00;margin-left: 10px;"></span>

                </td>
            </tr>
            <tr>
                <td class="lab" valign="top">描述（附言）：</td>
                <td><textarea name="memo" id="usermemo" style="width:100%;height: 50px;">充值保证金</textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" name="r" id="radstr" value="000000">
                    <a class="new_btn" href="javascript: void(0);" onclick="$(this).next().click();" target="_self">提交充值</a>
                    <input type="submit" value="提交充值" class="hide_btn" />
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    $("#rechareg_form").submit(function(e){
        var form = $(this);
        var money = $.trim(form.find('#money').val());
        var orderMemo = '充值金额为：' + money + '元，加手续费：' + form.find("#charge").html() + '元，实际转账金额：' + form.find("#sum").html() + '元';
        form.find('#ordermemo').val(orderMemo);
        var userMemo = $.trim(form.find('#usermemo').val());
        if(!money || money == 0) {
            msg('充值金额不能为空，请重新输入');
            return false;
        }
        if (form.find("#validate").val() == ''){
            msg('验证码不能为空，请重新输入');
            return false;
        }
        if (!confirm('您' + orderMemo + ',您确认核对无误，提交吗？')) {
            e.preventDefault();
            return;
        }
        msg('请在新打开的窗口中完成充值，充值完成前请不要关闭此窗口。' + '<br /><br /><br />' + "<a class='button' href=\"javascript:endRecharge(1);\" target=\"_self\">已经成功完成充值</a>&nbsp;&nbsp;" + "<a class='button no' href=\"javascript:endRecharge(0);\" style='margin-left: 20px;' target=\"_self\">充值遇到问题</a>");
    });
	function formatFloat(src, pos){
		pos = pos || 2;
		src= Math.round(src*Math.pow(10,pos))/Math.pow(10,pos);  
		return src;
	}
    //计算手续费
    function countFee(obj){
        var form = $('#rechareg_form');
        var money = obj.val();
        if(!money) {
            form.find("#recharge_gongshi").html("");
            form.find('#total').val('');
            return;
        }
        var re = new RegExp(/^\d+[\.]?\d{0,2}$/);
        if (!re.test(money)){
            msg('输入的金额不合法，请重新输入。');
            obj.val('');
            return;
        }
        var fee = money * 0.008;
        if(!fee || fee< 1) fee =1;
        form.find("#recharge_gongshi").html("手续费:<span style='color: #ff0000;font-size: 18px;' id='charge'> " +
                formatFloat(fee,2) +"</span>元 , 实际转账金额: <span style='color: #ff0000;font-size: 18px;' id='sum'>"+
                formatFloat(parseFloat(money) + parseFloat(fee)) +"</span>元");
        form.find('#total').val(formatFloat(parseFloat(money) + parseFloat(fee)));
    }
</script>