<style type="text/css">
    <!--
    .shimingrenzheng {
        margin: 15px 10px 0 10px;
    }
    .top_title {
        height: 40px;
        line-height: 35px;
        font-size: 18px;
        color: #dd431a;
        font-weight: bold;
        text-indent: 10px;
    }
    .shimingrenzheng .line {
        height: 10px;
        overflow: hidden;
    }

    .shimingrenzheng .hint {
        height: auto;
        line-height: 30px;
        overflow: hidden;
        margin: 0 10px 16px 20px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #ccc;
    }

    /* 实名认证 */
    .shimingrenzheng .file_input_hiden {
        border: 1px solid #ccc;
        height: 32px;
        cursor: pointer;
    }

    .shimingrenzheng .upload_item {
        margin-left: 20px;
    }

    .shimingrenzheng .sub_button {
        margin-left: 5px;
        height: 33px;
    }
    .shimingrenzheng .upload_sfz_form {
        clear: both;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 12px 0;
    }

    .shimingrenzheng .upload_sfz_all {
        overflow: hidden;
    }

    .shimingrenzheng .validate_status {
        clear: both;
    }

    .shimingrenzheng .view_sfz_box {
        margin-top: 7px;
        margin-left: 5px;
        line-height: 0;
        cursor: pointer;
        text-indent: 97px;
        clear: both;
    }

    .shimingrenzheng .upload_iframe {
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .shimingrenzheng .id_card_number {
        width: 306px;
        height: 30px;
        text-indent: 4px;
    }

    .clear {
        clear: both;
    }

    -->
</style>
<div class="shimingrenzheng">
    <h1 class="top_title">
        刷手实名认证
    </h1>
    <div class="hint">
        1.身份证上的相关重要信息和手持照的人像要清晰显示；<br/>
        2.身份证上的姓名必须与您在本站的姓名相同；<br/>
        3.每张身份证只能在使用一次。
        <div style="margin: 5px 0 15px 20px; width:500px; line-height: 30px; padding: 10px 0 10px 20px;border: 1px solid #ddd; background-color: #ffe5d7;color: #c35711;">
        <?=$validate_reason?>
        </div>
    </div>
    <div class="new_view_wrap renzheng_box">
            <?php
            if($c_user_idcard_info['s_status']!=1){ //未验证
          ?>
            <div class="upload_sfz_all">
                <form id="save_sfz_num_form" method="post" class="upload_sfz_form">
                    <div class="upload_item">
                        真实姓名：<?=$username?>
                        <div class="line"></div>
                        身份证号码：<input class="id_card_number" type="text" value="<?=$c_user_idcard_info['s_idCard_number']?>"> <input type="submit" class="sub_button new_btn new_btn-success" value="提交">
                    </div>
                </form>
                <form class="upload_sfz_form">
                    <div class="upload_item">
                        <!-- 用链接激活文件上传，IE7底下会导致提交时，文件路径丢失 -->
                        手持身份证 ：<input id="fileupload_hand" name="shiming_by_hand" class="file_input_hiden" type="file">
                        [ <a href="javascript: void(0);" target="_self" onclick="view_sfz('/resource/manage/images/user/sfz_example_by_hand.jpg')">查看示例</a>]
                    </div>
                    <div class="view_sfz_box <?=$view_upload_sfz_pic_hand?>">
                        <img id="sfz_by_hand_img" src="/?s=account/view_shiming_idCard&type=by_hand" height="50" onclick="view_sfz_img(this)">
                    </div>

                    <div class="clear"></div>
                </form>

                <form class="upload_sfz_form">
                    <div class="upload_item">
                        身份证正面：<input id="fileupload_front" name="upload_sfz_shiming_front" class="file_input_hiden" type="file">
                        [<a href="javascript: void(0);" target="_self" onclick="view_sfz('/resource/manage/images/user/sfz_example_front.jpg')">查看示例</a>]
                    </div>
                    <div class="view_sfz_box">
                        <img id="sfz_front_img" src="/?s=account/view_shiming_idCard&type=front" height="50" onclick="view_sfz_img(this)">
                    </div>

                    <div class="clear"></div>
                </form>

                <form class="upload_sfz_form">
                    <div class="upload_item">
                        身份证背面：<input id="fileupload_back" name="upload_sfz_shiming_back" class="file_input_hiden" type="file">
                        [<a href="javascript: void(0);" target="_self" onclick="view_sfz('/resource/manage/images/user/sfz_example_back.jpg')">查看示例</a>]
                    </div>
                    <div class="view_sfz_box">
                        <img id="sfz_back_img" src="/?s=account/view_shiming_idCard&type=back&r=<?=Func::getRam(8)?>" height="50" onclick="view_sfz_img(this)">
                    </div>

                    <div class="clear"></div>
                </form>
            </div>

            <?php
            }
             if($c_user_idcard_info['s_status']==-1){//验证未通过
        ?>
            <div class="clear validate_status new_btn new_btn-danger">验证未通过，原因：<?=$c_user_idcard_info['s_memo']?>
                ，验证时间：<?=date('Y年m月d日',$c_user_idcard_info['s_validate_time'])?>，请重新上传
            </div>
            <?php
            }
             if($c_user_idcard_info['s_status']==1){ //验证通过
        ?>
            <div class="clear validate_status new_btn new_btn-success">
                实名验证已通过，通过时间：<?=date('Y年m月d日',$c_user_idcard_info['s_validate_time'])?>
            </div>
            <?php
        }
        ?>
    </div>
</div>
<script>
    function saveIDNumEven() {
        var searchForm = $('#save_sfz_num_form');
        //所有参数提交表单事件
        searchForm.submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var idcard = form.find('.id_card_number').val();
            var postData = {
                type: 'id_card_number',
                id_card_number: idcard
            };
            post('/?s=account&do=upload_sfz_shiming&json=true',postData,function(data) {
                hideNewBox();
                if(data.id != '0364') {
                    if(data.info) data.msg += data.info;
                    if(data.id == '0000') {
                        loginIn();
                        return;
                    }
                    msg(data.msg,4);
                } else {
                    msg('提交身份证号码成功，请等待审核',1);
                }
            });
        });
    }
    function addUploadListen() {
        $('#fileupload_hand').fileupload({
            autoUpload: true,//是否自动上传
            url: "/?s=account&do=upload_sfz_shiming&type=by_hand",//上传地址
            dataType: 'json',
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                //done方法就是上传完毕的回调函数，其他回调函数可以自行查看api
                //注意result要和jquery的ajax的data参数区分，这个对象包含了整个请求信息
                //返回的数据在result.result中，假设我们服务器返回了一个json对象
                var data = data.result;
                if(data.id != '0364') {
                    if(data.info) data.msg += data.info;
                    if(data.id == '0000') {
                        loginIn();
                        return;
                    }
                    msg(data.msg,4);
                } else {
                    msg(data.msg,1);
                    $('#sfz_by_hand_img').attr('src', '/?s=account/view_shiming_idCard&type=by_hand&_=' + Math.random());
                }
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
            }
        });

        $('#fileupload_front').fileupload({
            autoUpload: true,//是否自动上传
            url: "/?s=account&do=upload_sfz_shiming&type=front",//上传地址
            dataType: 'json',
            done: function (e, data) {//设置文件上传完毕事件的回调函数
                //done方法就是上传完毕的回调函数，其他回调函数可以自行查看api
                //注意result要和jquery的ajax的data参数区分，这个对象包含了整个请求信息
                //返回的数据在result.result中，假设我们服务器返回了一个json对象
                var data = data.result;
                if(data.id != '0364') {
                    if(data.info) data.msg += data.info;
                    if(data.id == '0000') {
                        loginIn();
                        return;
                    }
                    msg(data.msg,4);
                } else {
                    msg(data.msg,1);
                    $('#sfz_front_img').attr('src', '/?s=account/view_shiming_idCard&type=front&_=' + Math.random());
                }
            },
            progressall: function (e, data) {//设置上传进度事件的回调函数
            }
        });
    }
    //身份证背面上传事件
    $('#fileupload_back').fileupload({
        autoUpload: true,//是否自动上传
        url: "/?s=account&do=upload_sfz_shiming&type=back",//上传地址
        dataType: 'json',
        done: function (e, data) {//设置文件上传完毕事件的回调函数
            //done方法就是上传完毕的回调函数，其他回调函数可以自行查看api
            //注意result要和jquery的ajax的data参数区分，这个对象包含了整个请求信息
            //返回的数据在result.result中，假设我们服务器返回了一个json对象
            var data = data.result;
            if(data.id != '0364') {
                if(data.info) data.msg += data.info;
                if(data.id == '0000') {
                    loginIn();
                    return;
                }
                msg(data.msg,4);
            } else {
                msg(data.msg,1);
                $('#sfz_back_img').attr('src', '/?s=account/view_shiming_idCard&type=back&_=' + Math.random());
            }
        },
        progressall: function (e, data) {//设置上传进度事件的回调函数
        }
    });

    //查看身份证
    function view_sfz(url) {
        var urlimg = new Image();
        msg('图片加载中...')
        urlimg.onload = function (e) {
            hideNewBox();
            var showMsg = '<div style="text-align: center"><img src="' + url + '" alt="查看图片" style="max-width:1000px"></div>';
            msgView('查看图片', showMsg, 600)
        };
        urlimg.src = url;
    }
    //查看身份证
    function view_sfz_img(_this) {
        var url = $(_this).attr('src');
        view_sfz(url);
    }
    saveIDNumEven();//修改身份证号码事件
    addUploadListen();//添加图片上传侦听事件
    leftEvent('my_renzheng');
</script>