<!DOCTYPE html>
<html>
<head>
    {include file="common/meta" /}
    <link href="/assets/css/songs/album.css" rel="stylesheet">
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
{include file="common/banner" currentBanner='' /}
{include file="songs/songs_top_singer"  /}
<div class="uri_body container">
    <div class="panel panel-default">
        <div class="panel-heading">
            网易云音乐用户: <?=$uInfo['title'];?>  , 人气: <?=$sInfo['rq'];?>
            <br />
            <img style="height: 45px;border: 1px solid #ddd;" src="<?=$uInfo['avatar']?>">
            <a href="/juzi/songsuser/myAlbum/?u=<?=$uInfo['uri'];?>" target="_self" class="btn btn-xs btn-success">我的歌单</a>
        </div>
        <div class="inner">
            <span class="share_label">分享:</span>
            <div class="bdsharebuttonbox share_icons">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
            </div>
        </div>
        <div class="panel-body">
            <h4> 我的歌单: {$sInfo['title']} </h4>
            <div class="well description">
                <img src="{$sInfo['avatar']}" width="100" class="thumbnail" />
                {$sInfo['description']}
            </div>
            <div class="row">
            <?php
            foreach($songList as $item) {
            ?>
            <div class="col-md-3 col-sm-3 col-xs-3 item">
                <a href="/juzi/songs/uri/<?=$item['uri'];?>" target="_blank">
                    <?=$item['title'];?>
                </a> - {$item.singerLink}
            </div>
            <?php
            }
            ?>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="rol-md-6">
                    <div class="inner">
                        <span class="share_label">分享:</span>
                        <div class="bdsharebuttonbox share_icons">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_isohu" data-cmd="isohu" title="分享到我的搜狐"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                            <a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏"></a>
                            <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                            <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                            <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    }, "share": {}
};
with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
{include file="common/footer" /}
</body>
</html>