<!DOCTYPE html>
<html>
<head>
{include file="common/meta" /}
</head>
<base target="_parent" />
<body>
{include file="common/header" /}
{include  file="common/banner" currentBanner='user' /}
{include file="songs/songs_top_singer"  /}
<style>
    .author_list .list_item {
        display: inline-block;
        margin-bottom: 15px;
        float: left;
        width: auto;
        padding: 0 5px;
    }
    .author_list .list_item .input-group {
        padding-top: 5px;
    }
    .author_list .list_item .input-group .btn + .btn {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
</style>
<div class="front_body container">
    <form action="/juzi/songsuser/index/" method="get" class="input-group">
        <input value="<?=$keyword?>" name="keyword" class="form-control" placeholder="输入网易云音乐用户昵称" />
        <span class="input-group-btn">
            <button class="btn btn-success">搜索</button>
       </span>
    </form>
    <div class="panel panel-info">
        <div class="panel-heading" style="position: relative;">
            <?=$topTitle?>
        </div>
        <div class="panel-body author_list">
            <ul class="list-group">
                <?php
                foreach($list as $v) {
                ?>
                <li class="list_item">
                    <span class="btn btn-default btn-xs">
                        <a href="/juzi/songsuser/myAlbum/?uid=<?=$v['id']?>" target="_blank" ><?=$v['title']?></a>
                    </span>
                </li>
                <?php
                }
                ?>
            </ul>
            <div style="clear:both; margin: -20px 0;float: left;">
                {$pageMenu}
            </div>
        </div>
    </div>
</div>
<script>
    $('#top_phb').find("a[data='userlist']").removeClass('btn-info').addClass('btn-success');
</script>
{include file="common/footer" /}
</body>
</html>