@charset "utf-8";

body{
    background: #fff;
}
.forget_wrap_body {
    padding: 30px 0 40px 0;
}
/* 找回密码 样式 */
.forget_body {
    width: 1176px;
    margin: 0 auto;
    border: 6px solid #ccc;
    background: #fff;
}
.forget_body .forget_title {
    margin: 40px 30px 0 30px;
    height: 40px;
    background: url("/resource/system/images/new_login/forget_title.png") no-repeat ;
    border-bottom: 2px solid #d8d8d8;
}
.submit_forget_form .left {
    float: left;
    width: 550px;
    margin: 35px 0 0 30px;
}
.submit_forget_form .right {
    float: right;
    width: 550px;
    margin: 35px 30px 0 0 ;
}
.submit_forget_form .title  {
    font-size: 26px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: #333;
    border-bottom: 1px solid #d8d8d8;
}
.submit_forget_form  .space {
    height: 40px;
}
.submit_forget_form ul {
    margin: 50px 0 0 50px;
}
.submit_forget_form ul li {
    height: 55px;
    clear: left;
}
.submit_forget_form ul li em {
    width: 100px;
    font-size: 14px;
    color: #666;
    display: inline-block;
    height: 30px;
    white-space: nowrap;
    line-height: 30px;
    text-align: right;
    float: left;
    white-space: nowrap;
}
.submit_forget_form ul li .forger_but {
    margin-left: 100px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background: #ee4e8a;
    border: 0;
    cursor: pointer;
}
.submit_forget_form ul li .forger_but:hover {
    background: #ee125a;
}
.submit_forget_form .input {
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d8d8d8;
}

.submit_forget_form .code_img {
    width: 95px;
    cursor: pointer;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0;
    float: left;
}
/* 联系客服 */
.submit_forget_form .contact_us {
    text-align: center;
}
.submit_forget_form .contact_us .kefu_log {
    width: 50px;
    height: 50px;
    display: block;
    margin: 50px auto 0 auto;
    background: url("/resource/system/images/newreg/reg.png") no-repeat  0 -305px ;
}
.submit_forget_form .contact_us p {
    font-size: 14px;
    margin-top: 20px;
    color: #333;
}
/* 找回密码底部 */
.forget_body .leave {
    margin: 20px ;
    border-top: 1px solid #cdcdcd;
    text-align: center;
    padding-top: 20px;
}
.forget_body .leave .login {
    background-color: #fd9937;
    color: #fff;
    float: right;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 4px;
}
.forget_body .leave .reg {
    background-color: #20c5ff;
    color: #fff;
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 4px;
    margin:0 30px 0 50px;
}