@charset "utf-8";
/* 邮箱注册页面的新样式  */

/* 全局样式重定义  */
body {
    background: #fff;
}
.reg_body .main {
    width: 986px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 14px;
}
.reg_body .main a {
    font-size: 14px;
}
/* 主体的css */
.reg_body .main .reg_form {
    margin-left: -92px;
}
/* 注册 */
.reg_body .main .reg_form ul li {
    position: relative;
    padding: 8px 0 8px 135px;
    margin-bottom: 5px;
}
.reg_body .main .reg_form ul li em {
    width: 120px;
    height: 44px;
    line-height: 44px;
    display: block;
    white-space: nowrap;
    text-align: right;
    color: #333;
    font-size: 16px;
    position: absolute;
    left: 0;
}
/* 邮箱推荐类型 菜单 */
.reg_body .main .reg_form ul li .email-auto {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #eee;
    color: #666;
    left: 135px;
    overflow: hidden;
    position: absolute;
    top: 51px;
    width: 288px;
    z-index: 1;
}
.reg_body .main .reg_form ul li .email-auto .email-title {
    height: 26px;
    line-height: 200%;
    padding: 0 5px;
    font-size: 16px;
}
.reg_body .main .reg_form ul li .email-auto .email-list li {
    cursor: pointer;
    height: 26px;
    line-height: 200%;
    padding: 0 5px;
}
.reg_body .main .reg_form ul li .email-auto .email-list .current {
    background: #eee;
    color: #000;
}
.reg_body .main .reg_form ul li .text {
    margin-left: 10px;
    color: #999;
    font-size: 12px;
}
.reg_body .main .reg_form ul li .input_ {
    width: 288px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    outline: none;
    text-indent: 6px;
    border: 1px solid #aaa;
}
.reg_body .main .reg_form ul li #sys_pic {
    border: 1px solid #ddd;
    cursor: pointer;
    height: 42px;
    vertical-align: top;
}
.reg_body .main .reg_form li .hint_email {
    margin-left: 5px;
}
.reg_body .main .reg_form li .hint_unick {
    margin-left: 5px;
}
.reg_body .main .reg_form li .hint_u_tel {
    margin-left: 5px;
}
.reg_body .main .reg_form .submit_btn {
    width: 290px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: #179846;
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0 0 0;
}
.reg_body .main .reg_form .leave .login {
    background-color: #179846;
    color: #fff;
    padding: 0 5px;
}
/* 其他 注册 找回密码 */
.reg_body .other {
    border-top: 1px solid #dedede;
    line-height: 45px;
    text-align: right;
    padding-right: 60px;
    color: #ccc;
}
.reg_body .other a {
    display: inline-block;
    text-align: center;
    color: #179846;
    padding: 0 20px;
}