@charset "utf-8";

#webchat_box {
    position: fixed;
    max-width: 520px;/* iphone 6s 最大宽度*/
    vertical-align: top;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    overflow: visible;
    border-radius: 8px 8px 0 0;
    z-index: 9999;
}
#webchat_box #chat_top {
    position: relative;
}
#webchat_box #chat_top .close {
    cursor: pointer;
    font-size: 26px;
    position: absolute;
    right: -10px;
    top: -15px;
}
#webchat_box #chat_top .nav li {
    cursor: pointer;
}
#webchat_box #chat_top .nav li.active a {
    cursor: pointer;
}
#webchat_box #chat_top #dialog_status {
    color: #ca1900;
    font-size: 12px;
}

/* 所有图片不需要完全伸展 */
#webchat_box img {
    width: auto;
    display: inline;
    max-width: 100%;
}
/* 查找会员输入框 */
#search_user_bar {
    width: 100%;
    background-color: #fafafa;
    padding: 0.7rem 0;
    border-bottom: 0.1em solid #ddd;
}
#search_user_bar .input_box {
    position: relative;
    margin-left: 1rem;
}
#search_user_bar .input_box .enter_text {
    margin-left: 0.7em;
    height: 2.2em;
    border: 0.1em solid #ccc;
    width: 24rem;
    text-indent: 2px;
    box-sizing: border-box;
}
#search_user_bar .input_box #user_result_menu {
    display: none;
    position: absolute;
    width: 20em;
    z-index: 100;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 4.7em;
}
#search_user_bar .input_box #user_result_menu a {
    display: block;
    border-bottom: 1px dotted #ddd;
    text-indent: 8px;
    color: #333;
    padding: 0.5em 0;
}
#search_user_bar .input_box #user_result_menu a:hover {
    background-color: #f0f4ff;
    color: #006dcc;
}

#chat_message,
#chat_message.icon2 {
    width: 16px;
    height:16px;
    line-height: 10px;
    display: inline-block;
    white-space: nowrap;
    background: url("/resource/pub/images/svg/chat_message.svg") no-repeat transparent 0 0/16px 16px;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}
#chat_message.icon2 {
    background: url("/resource/pub/images/svg/chat_message2.svg") no-repeat transparent 0 0/16px 16px;
}
#chat_message .num,
#chat_message.icon2 .num {
    font-size: 12px;
    font-weight: bold;
}
.talk_icon {
    width: 16px;
    height:16px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background: url("/resource/pub/images/svg/chat_talk.svg") no-repeat transparent 0 0/16px 16px;
    vertical-align: middle;
    text-indent: 20px;
    cursor: pointer;
}