<!-- 手动载入编辑器第三方插件内容 -->
<script src="/assets/libs/editor/kindeditor/kindeditor-all-min.js" ></script>
<script src="/assets/libs/editor/kindeditor/lang/zh-CN.js" ></script>
<link href="/assets/libs/editor/kindeditor/themes/default/default.css" rel="stylesheet" type="text/css">

<style>
    #writeBox .editorType {
        display: inline-block;
        margin-right: 12px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
        padding-top: 7px;
    }
    #writeBox .col-sm-2 {
        max-width: 100px;
        white-space: nowrap;
    }
    #writeBox .editorType  input {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: sub;
    }
</style>
<div class="panel panel-info" id="writeBox">
    <div class="panel-heading">
        <h3 class="panel-title"><?=$topTitle?></h3>
    </div>
    <div class="panel-body">
        <form id="writeForm" class="form-horizontal">
            <div class="form-group">
                <label for="set_typeid" class="col-sm-2 control-label">分类</label>
                <div class="col-sm-10 form-inline">
                    <div id="set_typeid" class="input-group"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="set_title" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="set_title" name="title" value="<?=$row['title'];?>" placeholder="" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">编辑器</label>
                <div class="col-sm-10">
                    <div class="editorType">
                        <input type="radio" name="editorType" value="txt" <?=($row['editorType']=='txt' ? 'checked':'');?> /> txt
                    </div>
                    <div class="editorType">
                        <input type="radio" name="editorType" value="html" <?=($row['editorType']=='html' ? 'checked':'');?> /> html
                    </div>
                    <div class="editorType">
                        <input type="radio" name="editorType" value="markdown" <?=($row['editorType']=='markdown' ? 'checked':'');?> /> markdown
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">正文</label>
                <div class="col-sm-10">
                    <div contenteditable="true" class="form-control hidden" id="defaultContent" name="content" style="max-width: 1000px;height: 400px;"><?=$row['content'];?></div>
                    <div id="showEditor"></div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label"> </label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" style="padding: 6px 35px;">保存</button>
                </div>
            </div>
            <?php
            if($id) {
            ?>
            <iframe style="width: 100%; height: 600px;border: 0;overflow:hidden;" src="/tool/AddonFile?sidKey=sid&sidVal=<?=$id?>&page=1&page_size=24&table=lr_article_fujian"></iframe>
            <?php
            }
            ?>
        </form>
    </div>
</div>
<script>
    (function () {
        'use strict';
        require(['jquery', 'lrBox', 'front'], function ($, lrBox, front) {
            var editorTypeCache = 'editorType';
            var submitUrl = '<?=$submitUrl;?>';
            var typeid = "<?=$row['typeid'];?>";
            var writeBox = $("#writeBox");
            var writeForm = writeBox.find("#writeForm");
            var selectBox = writeBox.find("#set_typeid");
            var editorTypes = writeBox.find(".editorType");
            var showEditor = writeBox.find("#showEditor");
            var defaultContent = writeBox.find("#defaultContent");
            var autoVal =  defaultContent.html();
            function getTypes(typeid) {
                selectBox.html('').load('/my/type/getMyTypes?id1='+ typeid, function () {
                    var addTypeBtn = selectBox.find(".addTypeBtn");
                    addTypeBtn.click(function () {
                        lrBox.msgt('添加分类', '[url]/my/type/add', '400px', {fadein: 1, fd: 1,move: {fx:'d', sd: 100,jl: '20%'}});
                        //更新分类的方法
                        window.renewEditArticleType= function () {
                            getTypes(typeid);
                        };
                    });
                });
            }
            getTypes(typeid);
            function insertTextToTextEditor(obj, insertText){
                let editDom = obj[0];
                let selection = getSelection();
                // 判断选定对象范围是编辑框还是文本节点
                if (selection.anchorNode.nodeName != '#text') {
                    let insertNode;
                        insertNode = document.createTextNode(insertText);
                        if (editDom.childNodes.length > 0) {
                            // 如果文本框的子元素大于0，则表示有其他元素，则按照位置插入表情节点
                            for (let i = 0; i < editDom.childNodes.length; i++) {
                                if (i == selection.anchorOffset) {
                                    editDom.insertBefore(insertNode, editDom.childNodes[i])
                                }
                            }
                        } else {
                            // 否则直接插入一个表情元素
                            editDom.appendChild(insertNode);
                        }
                        // 创建新的光标对象
                        let range = document.createRange();
                        // 光标对象的范围界定为新建的表情节点
                        range.selectNodeContents(insertNode);
                        // 光标位置定位在表情节点的最大长度
                        range.setStart(insertNode, insertNode.length);
                        // 使光标开始和光标结束重叠
                        range.collapse(true);
                        // 清除选定对象的所有光标对象
                        selection.removeAllRanges();
                        // 插入新的光标对象
                        selection.addRange(range);
                } else {
                    let range = selection.getRangeAt(0);
                    // 获取光标位置
                    let rangeStartOffset = range.startOffset;
                    // 获取光标对象的范围界定对象，一般就是textNode对象
                    let textNode = range.startContainer;
                    // 文本节点在光标位置处插入新的表情内容
                    textNode.insertData(rangeStartOffset, insertText);
                    // 光标移动到到原来的位置加上新内容的长度
                    range.setStart(textNode, rangeStartOffset + insertText.length);
                    // 光标开始和光标结束重叠
                    range.collapse(true);
                    // 清除选定对象的所有光标对象
                    selection.removeAllRanges();
                    // 插入新的光标对象
                    selection.addRange(range);
                }
            }
            //切换编辑器类型
            //当前编辑器value的get/set方法
            var currentGetEditorValFunc = function () {

            };
            var currentEditorValFunc = function () {

            };
            //定义value的公共对象
            var editorObj = {};
            var newContentObj = {};
            Object.defineProperty(editorObj, 'value', {
                get: function () {
                    return currentGetEditorValFunc();
                },set :function (newVal) {
                    currentEditorValFunc(newVal);
                }
            });
            var pushNewEditor = function (lastVal) {
                var newContentObj = defaultContent.clone();
                newContentObj.removeClass('hidden');
                showEditor.html('').append(newContentObj);
                newContentObj.html(lastVal);
                return newContentObj;
            };
            function createTextEditor(lastVal) {
                newContentObj = pushNewEditor(lastVal);
                currentGetEditorValFunc = function () {
                    return  newContentObj.html();
                };
                currentEditorValFunc = function (newVal) {
                    newContentObj.html(newVal);
                };
                window.editorInsertUrl = function (url) {
                    insertTextToTextEditor(newContentObj, url);
                };
            }

            function createHtmlEditor(lastVal) {
                var newContentObj = pushNewEditor(lastVal);
                //这里可以统一设置编辑器样式
                var defaultOpt =  {
                    width: '100%',
                    height: '600px',
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    allowImageUpload : false,
                    items : [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'image', 'link']
                };
                var thisEditorObj = KindEditor.create(newContentObj, defaultOpt);

                currentGetEditorValFunc = function () {
                    return  thisEditorObj.text();
                };
                currentEditorValFunc = function (newVal) {
                    thisEditorObj.text(newVal);
                };
                window.editorInsertUrl = function (url) {
                    thisEditorObj.insertHtml(url);
                };
            }

            //http://editor.md.ipandao.com/examples/use-requirejs.html
            function createMdEditor(lastVal) {
                window.currentPushingContent = lastVal;
                var innerEditor = $('<iframe style="width: 100%; height: 600px;border: 0;overflow:hidden;" src="/article/markdown.html"></iframe>');
                showEditor.html('').append(innerEditor);
                innerEditor.on('load', function () {
                    currentGetEditorValFunc = function () {
                        return window.mdEditorGetContent();
                    };
                    currentEditorValFunc = function (newVal) {
                        window.mdEditorSetContent(newVal);
                    };

                    window.editorInsertUrl = function (url) {
                        window.mdEditorPushContent(url);
                    };
                });
            }
            editorTypes.on('click', function (e) {
                console.log('click');
                let input_ = $(this).find('input');
                //强制移除上一个input的样式
                input_.prop('checked', true);
                var type_ = input_.val();
                var lastVal;
                if(autoVal !== null) {
                    lastVal = autoVal;
                    autoVal = null;
                } else {
                    lastVal =  editorObj.value;
                }
                front.cacheObj.setCache(editorTypeCache, type_);
                switch (type_) {
                    case 'txt':
                        createTextEditor(lastVal);
                        break;
                    case 'html':
                        createHtmlEditor(lastVal);
                        break;
                    case 'markdown':
                        createMdEditor(lastVal);
                        break;
                    default:
                        lrBox.msgTsf('不支持的编辑器类型');
                }
            });
            //初始化 txt 编辑器
            var lastType = front.cacheObj.getCache(editorTypeCache);
            if(!lastType) {
                createTextEditor(autoVal);
            } else {
                console.log(lastType, writeBox.find(".editorType input[value='"+ lastType +"']"));
                writeBox.find(".editorType input[value='"+ lastType +"']").click();
            }


            writeForm.on('submit', function (e) {
                e.preventDefault();
                var data_ = writeForm.serializeArray();
                var pData = {};
                data_.map(function (v, n) {
                    if (!front.isUndef(pData[v.name])) {
                        if ($.isArray(pData[v.name])) {
                            pData[v.name].push(v.value);
                        } else {
                            pData[v.name] = [pData[v.name], v.value];
                        }
                    } else {
                        pData[v.name] = v.value;
                    }
                });
                pData['content'] = editorObj.value;
                lrBox.loading(true);
                //提交发布
                front.postAndDone({
                    url: submitUrl,
                    data: pData,
                    successKey: 'code',
                    successVal: 1,
                    successFunc: function (res) {
                        lrBox.noLoading();
                        lrBox.msgTisf(res.msg);
                    },
                    errorFunc: function (res) {
                        lrBox.noLoading();
                        lrBox.msgTisf(res.msg);
                    }
                });

            });
            return {};
        });
    })();

</script>