<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><?=$webTitle?></title>
    <link href="/min/?f=/resource/pub/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" media="all" />
    <?=$header?>
    <link href="/assets/libs/editormd/css/editormd.css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="/assets/libs/webuploader/webuploader.js"></script>
    <script type="text/javascript" src="/assets/libs/editormd/editormd.js"></script> <!-- 编辑器 -->
    <link href="/resource/manage/css/user_manage.css?t=201502031354" rel="stylesheet" media="all" />
    <base target="_blank">
<body>
<div id="header">
    <div class="header_main">
        <a class="logo" href="/?s=user" target="_self">li6.cc <i class="ch">个人中心</i> </a>
        <div class="nav">
            <ul>
                <li>
                    <img src="<?=$avatar?>" onclick="ajaxOpen('/user/edit_my_info');" class="userface" />
                    <?=$nickname?>  [<a href="/index/System/logout" target="_self">退出</a>]
                </li>
                <li>
                    <a href="/user/index" target="_self"><em></em>返回首页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix new_main" id="new_main">
    <div id="new_left">
        <div class="left_menu" id="left_menu">
            <dl>
                <dt>
                    我的菜单
                </dt>
                <dd>
                    <ul>
                        <li class="my_articles">
                            <em></em><a href="javascript:" onclick="ajaxOpen('/user/article/');" target="_self">文章</a>
                        </li>
                        <li class="edit_info">
                            <em></em><a href="javascript:" onclick="ajaxOpen('/user/setting/');" target="_self">控制面板</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div id="root_right" class="new_right clearfix" >
        <div class="right_content">
            <div class="user_box">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="top" width="100" >
                            <div id="user_center_box" style="background-position: <?=$bg_x?>px bottom">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resource/manage/js/user_manage.js"  ></script>
<div class="footer">
    <span class="content">
    </span>
</div>
</body>
</html>
