.top_load {
    width: 100%;
    line-height: 100%;
    padding: 0 10px;
    color: #fff;
    display: none;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0
}
.top_load .loading_text{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    width: 400px;
    margin-left: -200px;
    margin-top: -150px;
    background-color: #efefef;
    color: #f00;
    line-height: 200px;
    text-align: center;
    border-radius: 10px;
}
.header{
    margin:auto;
    position: relative;
    background-color: #7d7da1;
    border-bottom: 2px solid #6f6f8f;
    padding: 10px 0 2px 20px;
    height: 72px;
}
.header .logo {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    width: 300px;
    height: 60px;
    line-height: 66px;
    display: block;
    margin-left: 20px;
}
.header .my_menu {
    position: absolute;
    left: 326px;
    top: 2px;
    color: #fff;
    width: 500px;
    line-height: 20px;
}
.header .my_menu ul li {
    width: 120px;
    float: left;
}
.header .my_menu ul li a,
.header .my_menu ul li a:visited {
    color: #f9f9f9;
}
.header .user_box {
    color: #f4ffe3;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 50px;
    bottom: 10px;
}
.main_body{
	padding: 15px 0 20px 0;
	margin:auto;
	background-color:#FFF;
    position: relative;
}
body{
	padding:10px;
}

.leftmenu{
	width: 12%;
	height:100%;
    float: left;
    border-bottom: #83a4d8 solid 1px;
}
.rightmain {
    width: 87%;
    padding:0px;
    float: left;
    z-index: 500;
}
.leftmenu_body {
	border: 1px solid #b8c4df;
	margin: 0 0 0 16px;
    border-bottom: 0;
}
.leftmenu_body ul {
	padding: 10px 5px 5px 10px;
	font-size:12px;
}
.leftmenu_body ul li {
    height: 25px;
    line-height:25px;
}
.leftmenu_body ul li a {
    padding: 3px 5px;
    border-radius: 4px;
}
.leftmenu_body ul li a:hover{
    background: #f0f6f0;
    color: #900;
}
.leftmenu_title {
	padding:8px 0 8px 20px;
	font-size:14px;
    color: #325d84;
    font-weight: bold;
    background-color: #e0ecf4;
	border-bottom: #d4e2e8 solid 1px;
}
.rightmain_body {
    margin: 0 10px 0 15px;
    font-size: 12px;
}
/* 右边头部标题样式 */
.top_title {
    line-height: 36px;
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    background-color: #f2f9f1;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #d9e0d8;
}
.top_title a, .top_title a:visited {
    color: #555;
}
/* 右侧统一列表样式 */
.right_list {
}
.right_list ul li {
    clear: both;
    border-bottom: 1px solid #f6faf6;
    width: auto;
    overflow: hidden;
    padding: 5px 0;
}
.li_houver {
    background-color: #ffe;
}
.right_list ul li em,.new_right ul li em {
    float: left;
    font-style: normal;
    color: #c45327;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
}
/* ----------------------------------------------------------  */
.divline{
	border-top:#CCC dotted 1px;
	height:1px;
	margin:10px 0 10px -10px;
}


.bannor{
	background-image:url(../images/default/bannor.gif);
	background-position:center;
	background-repeat:no-repeat;
	height:50px;
	border-bottom:#CCCCCC solid 1px;
	border-top:#CCCCCC solid 1px;
}

/* 统一分页样式 */
.ajax_pages {
    border-top: 1px solid #b3d0d9;
    background-color: #eaf1f8;
    font-size: 12px;
    line-height: 30px;
    margin-top: 10px;
    text-indent: 20px;
}
.ajax_pages a {
    margin-right: 10px;
}