<meta charset="utf-8">
<title>{$webTitle|default=''}{$webdesc? ' - '. $webdesc : ''}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">

{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}
<meta name="author" content="FastAdmin">
<?php
$radom = mt_rand(10000, 90000);
?>
<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
<!-- Loading Bootstrap -->
<link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="__CDN__/assets/css/lr/jquery.lr_element.css" rel="stylesheet">
<link href="__CDN__/assets/css/lr/jquery.lr_box.css" rel="stylesheet">
<link href="__CDN__/assets/wap/css/front.css" rel="stylesheet">
<script src="/assets/libs/jquery/dist/jquery.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/lr/jquery-lr_box.js?v={$radom}"></script>
<script src="/assets/js/lr/jquery-lr_base.js?v={$radom}"></script>
<script src="/assets/js/lr/jquery-lr_element.js?v={$radom}"></script>
<script src="/assets/wap/js/config.js?v={$radom}"></script>
<script src="/assets/wap/js/wap.js?v={$radom}"></script>
<script src="/assets/wap/js/router.js?v={$radom}"></script>
